<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
  </configSections>
  <unity>
    <alias alias="perTask" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perRunningService" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="ISchedule" type="Quantumart.QP8.Scheduler.API.ISchedule, Quantumart.QP8.Scheduler.API" />
    <alias alias="IntervalSchedule" type="Quantumart.QP8.Scheduler.API.IntervalSchedule, Quantumart.QP8.Scheduler.API" />
    <container>
      <register type="ISchedule" mapTo="IntervalSchedule" name="UserSynchronizationSchedule">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:20" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="System.Notifications">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:30" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="Interface.Notifications">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:30" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="System.Notifications.Cleanup">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="01:00:40" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="Interface.Notifications.Cleanup">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:40" />
        </constructor>
      </register>
    </container>
  </unity>
  <appSettings>
    <add key="ServiceRepeatInterval" value="00:00:05" />
    <add key="ServiceRepeatOnErrorInterval" value="00:01:00" />
    <add key="CurrentUserId" value="1" />
    <add key="UserLanguageId" value="2" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
