<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="ARTICLESCHEDULERINSTALLFOLDER">
            <Component Id="cmp90C33EB5E2DB3E4EBB6AAFCB65DB2718" Guid="*">
                <File Id="filB779E715E2557C06BDCD7B0BE678F23D" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\AutoMapper.dll" />
            </Component>
            <Component Id="cmpFD8D1FA405B0AF7D7D0B750DD00AEB32" Guid="*">
                <File Id="filD250AB1F03D27792A593885066A4FBD3" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\AutoMapper.pdb" />
            </Component>
            <Component Id="cmpCCA65F69CCE962DF8CDC66DCED784252" Guid="*">
                <File Id="filD049BF36B3DAA2C47BDA7693FB8CDCF7" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Castle.Core.dll" />
            </Component>
            <Component Id="cmp2E278AF11939A68F3FF063AC917E56DE" Guid="*">
                <File Id="fil544C96C4A0A92E72571C44DDA11CE686" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Castle.Core.xml" />
            </Component>
            <Component Id="cmp250D14287DB8ED05D92EAABD3FB4AD41" Guid="*">
                <File Id="fil20BF547967A56E91B6CA9563207988BE" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Castle.DynamicProxy2.dll" />
            </Component>
            <Component Id="cmp19D84577C1D37C76ADBF04D1049B83AC" Guid="*">
                <File Id="filC609ABBADCD1D6A85A202B666D6A8F27" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Castle.DynamicProxy2.xml" />
            </Component>
            <Component Id="cmp5C296AE721EF43806758CCB609116AF9" Guid="*">
                <File Id="fil1ECF7763EFBD4BC2BCD700CEAE09D9B4" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\EFExtensions.dll" />
            </Component>
            <Component Id="cmpE9CA9BB0D3E1351F92E49806D2331A62" Guid="*">
                <File Id="filDB51CCA85A40F7784BE7202A0F6934BF" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\EFExtensions.pdb" />
            </Component>
            <Component Id="cmpE77DDE0FC4B62CF67FA1CB0D61B67ED1" Guid="*">
                <File Id="filA72584077845C266444849DEC68A649A" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\EFExtensions.xml" />
            </Component>
            <Component Id="cmp9EA89B378796222B032D5B7A134B76CB" Guid="*">
                <File Id="fil95DE1EAC749B89DC2BA340A2D62AE5D2" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Irony.dll" />
            </Component>
            <Component Id="cmp9722760D7009C5E077E5B7FEF2F1DE1B" Guid="*">
                <File Id="fil78225D0A3ED1CF214CF27AF337D1A8CA" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Irony.pdb" />
            </Component>
            <Component Id="cmpCAECD45BDD1BD0C99ADB5BE6F786AB5A" Guid="*">
                <File Id="fil0D26AD87A5C2EBD5B09FBD62F94ECD81" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Common.dll" />
            </Component>
            <Component Id="cmp86B9937D14318E56E859265701506430" Guid="*">
                <File Id="fil7CCA44460B387932CB6681C992C620DE" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Common.pdb" />
            </Component>
            <Component Id="cmpA35E187461CB2D4854D1320DCD9163D4" Guid="*">
                <File Id="filEC71AAE55A26D753BBAB8E184BDAA98C" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Common.xml" />
            </Component>
            <Component Id="cmpB233CD3FD284C1BAC45ABBD23AFF3FD2" Guid="*">
                <File Id="filC89A1494ABFE33179318E65DD035699C" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
            </Component>
            <Component Id="cmp4DC6F188AE1562958CC6692407875EB5" Guid="*">
                <File Id="filF0CBC31714C3DCF092F6104E0A2F98EC" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.dll" />
            </Component>
            <Component Id="cmp5EF236533575A43DAD572F103978F347" Guid="*">
                <File Id="fil5B85464047606F121FCCAD4702C2BED2" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.pdb" />
            </Component>
            <Component Id="cmp74F4A41B4E707749D396E3272BDD6AA7" Guid="*">
                <File Id="fil7603ADB893D620FA5799241B96CF4948" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.xml" />
            </Component>
            <Component Id="cmpE5E60A1043E371430C22F3648BF23F15" Guid="*">
                <File Id="fil48FFA21497D3EB327859A6F84C7AD0C4" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.pdb" />
            </Component>
            <Component Id="cmp7EC4D23E3C605B024C2C1E835531D92C" Guid="*">
                <File Id="filC68E710010EAF9401F086AB5A6674917" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.xml" />
            </Component>
            <Component Id="cmpE633235771B8657B8AA0A14B5B7B56D8" Guid="*">
                <File Id="filBE25E7DAC1FE4E3EE10128F6C633259A" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Logging.dll" />
            </Component>
            <Component Id="cmp09B377540BB2BDAA5764C57591C13872" Guid="*">
                <File Id="filBC8B9340DF52B958A4F99C46FB7CA029" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Logging.pdb" />
            </Component>
            <Component Id="cmp68675FE063107AFDE03FD1A41D964793" Guid="*">
                <File Id="filCB87071183EEEABD9953EF9CBF8E6173" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Logging.xml" />
            </Component>
            <Component Id="cmp55EF5410B1A4436BCA3795731C0DE031" Guid="*">
                <File Id="fil4C8CF3608BE9BD96018AEA2FE96E11CF" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Validation.dll" />
            </Component>
            <Component Id="cmpB65ABD515D51E9CE3E99856CA0F4F6DA" Guid="*">
                <File Id="filED4DB4F830A4480FD30DD45BB8A3BE82" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Validation.pdb" />
            </Component>
            <Component Id="cmp886687AE8B85C17A80D386864D742C23" Guid="*">
                <File Id="fil9FA68E371EB287283A88AD11A27BC589" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.EnterpriseLibrary.Validation.xml" />
            </Component>
            <Component Id="cmp6BE865AFB51B469BE6805CE96D89BA0A" Guid="*">
                <File Id="filC4B551560872E296CCAB936DBD8DF98D" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.ServiceLocation.dll" />
            </Component>
            <Component Id="cmpC992C484817353152A64D04DCC43599A" Guid="*">
                <File Id="filB788C0214406F24629E07B1B198085F7" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.Configuration.dll" />
            </Component>
            <Component Id="cmpF1216ADC95D0DFDFDB6CB8D7FE5D0E17" Guid="*">
                <File Id="fil2BD285B982F082C9568B02DD4D8FB2BA" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.Configuration.pdb" />
            </Component>
            <Component Id="cmpC6D5208F8F512E269696E4EBD94253A7" Guid="*">
                <File Id="fil796C987561E0C018F7042DC3B472AD05" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.dll" />
            </Component>
            <Component Id="cmp146F4B157B315CC790DD2724E32FB646" Guid="*">
                <File Id="fil8F1B3F8DD8299AC1F598BB94B69600E4" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.Interception.dll" />
            </Component>
            <Component Id="cmpA02CCB76C6ED4548A4C4F46C5974E558" Guid="*">
                <File Id="filA99C76579DA99EFC7036DD146EA41C5C" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.Interception.pdb" />
            </Component>
            <Component Id="cmp39A968853ABC72752BAB00E6D6A5ED40" Guid="*">
                <File Id="filF082FD22FC57E67FD7788060B32A62E6" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Microsoft.Practices.Unity.pdb" />
            </Component>
            <Component Id="cmp833CFCA3A156EB9930A3A261F9005AC5" Guid="*">
                <File Id="fil01D856D89ABC5B6C4DE3D39FFE3D3E59" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Configuration.dll" />
            </Component>
            <Component Id="cmp2B0D8DAA17E8FE2AF1459C3DDC521FB3" Guid="*">
                <File Id="fil07235980549B9B16831712B89BD3958A" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Configuration.xml" />
            </Component>
            <Component Id="cmp1F822B21209952988D8CF40207861C13" Guid="*">
                <File Id="fil7526FDFECDCCA00368D4FF5AE27A6A26" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Validation.Xaml.dll" />
            </Component>
            <Component Id="cmp093E386FEC99B27BEC143581F491AA5D" Guid="*">
                <File Id="filEF326A270A05816A96165BA090865BDD" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Validation.Xaml.Extensions.dll" />
            </Component>
            <Component Id="cmpCE312B5129CB3BD79FF32A193EC2FD8D" Guid="*">
                <File Id="fil96EAC9289178C3BB1069DE262836BC91" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Validation.Xaml.Extensions.xml" />
            </Component>
            <Component Id="cmp08D1286964D3705C7CD2DABE66E4C66E" Guid="*">
                <File Id="fil997A7AC9519EBE0FF57E14C6E6D2D1FC" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA.Validation.Xaml.xml" />
            </Component>
            <Component Id="cmp0BE16B9246E8DC4D99A467BA5EF71ABB" Guid="*">
                <File Id="filCC88F758231F952A796B259C4DAA036B" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA_Assembling.dll" />
            </Component>
            <Component Id="cmpDF8DB2FC3C1BD065EA9A2EC75C9029DA" Guid="*">
                <File Id="fil837F9E8EBE2820F237D3B573C0C9BF78" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA_Assembling.pdb" />
            </Component>
            <Component Id="cmpBA82C36D30F144FA7EA731A7ECDB2E17" Guid="*">
                <File Id="filD59943E3E16CE9D3323259C08C50FF11" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\QA_Merger.dll" />
            </Component>
            <Component Id="cmpB2B08DA0ACDFD016D4369191901EA312" Guid="*">
                <File Id="fil96A128416FDFA7FF267D3A369B78DF92" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.dll" />
            </Component>
            <Component Id="cmp731BEEE2AED92F0AA857DBB52EA29A79" Guid="*">
                <File Id="filF3160BDA9AA1D032DBEE877FE17B9B1F" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.pdb" />
            </Component>
            <Component Id="cmp4DBAE8791EAD694A28978C30E02C2A0C" Guid="*">
                <File Id="filB966F0DA8B26F426035168E3FB845272" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.ArticleScheduler.dll" />
            </Component>
            <Component Id="cmp6EEA73B63F1B1BFAB318ABDED6064746" Guid="*">
                <File Id="fil4D4D74900344CD1CD00BA4620A25F18B" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.ArticleScheduler.pdb" />
            </Component>
            
            
            <Component Id="cmp404E5AFEB0DC3DD880B1C077338F6B90" Guid="*">
                <File Id="fil48D657D87DC8E58027002E6511F6D747" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.BLL.dll" />
            </Component>
            <Component Id="cmpE16DA554AE6C7B3BA557C82635BC8F71" Guid="*">
                <File Id="filDA384CC2EE640BFB0FECC4E924A93FD0" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.BLL.pdb" />
            </Component>
            <Component Id="cmp23C10FCFEFB61B5AABDAED6D50B46604" Guid="*">
                <File Id="fil9A03265D3270C3CE83193EEDB801A165" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Configuration.dll" />
            </Component>
            <Component Id="cmpEADC051421B0169018DFEFDB72D02B2D" Guid="*">
                <File Id="fil45C1C1593B57DA899CBB6508078F070D" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Configuration.pdb" />
            </Component>
            <Component Id="cmpE408BB57AA50E0A2FCE188B3FCE2D484" Guid="*">
                <File Id="fil59F3B1584760BE78EDD6577B34D2DC2D" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Constants.dll" />
            </Component>
            <Component Id="cmpFBD2AC2E8B4C6A48E173E46EEB9B96C7" Guid="*">
                <File Id="filD35824A33A0B999E5DCC2DBC93A93E5A" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Constants.pdb" />
            </Component>
            <Component Id="cmp13C800B3B824D39B123FCF0E15C50AAC" Guid="*">
                <File Id="fil8080FB5FF42A40707EA5AD978B9DDC1A" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.DAL.dll" />
            </Component>
            <Component Id="cmp27ADFDA33DEC42ABD79C0FDA40C2C52C" Guid="*">
                <File Id="fil9F1D9FEFF4EB2D6203224ABE7514FE97" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.DAL.pdb" />
            </Component>
            <Component Id="cmpE75181A1CA0E0F8A377BBC90F5075E67" Guid="*">
                <File Id="fil4816382942F8861BEAAA40D450FAB177" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Resources.dll" />
            </Component>
            <Component Id="cmpD29C6EB70C51E6FE50D1FE958E572A9C" Guid="*">
                <File Id="filE4A1B98D328A34CA8B609039FFC7A17D" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Resources.pdb" />
            </Component>
            <Component Id="cmp85EFE05F38A4F8C91B0025FAAF57C31C" Guid="*">
                <File Id="fil6887ADE87139D60B07CAA960B275B025" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Security.dll" />
            </Component>
            <Component Id="cmp4460F27F67FC57CC0E2546233053F48D" Guid="*">
                <File Id="filB4E9105D5BFFC08380C25CA6647CAC8F" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Security.pdb" />
            </Component>
            <Component Id="cmpDC916AA7813E43F501E3F32BD08BBE86" Guid="*">
                <File Id="fil401E3F22806F3F0AD51B6DF1CA88B6BE" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Utils.dll" />
            </Component>
            <Component Id="cmp953B2784E7A9DFACE313618644184EDD" Guid="*">
                <File Id="filC38A19F11F10979F921D6B3E7D4BC4D8" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Utils.pdb" />
            </Component>
            <Component Id="cmp4F42DC88C5268B11CE68798B97741A5A" Guid="*">
                <File Id="filAD2A3E1C0F0796E8A8DA14AEB17B4CEC" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Validators.dll" />
            </Component>
            <Component Id="cmp888BA8139C23745A78E7605697930557" Guid="*">
                <File Id="filE9F4A780B8E9B37911B0E0C412BA9045" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\Quantumart.QP8.Validators.pdb" />
            </Component>
            <Directory Id="dir016FA8CD737B223FA96750578FCA56C4" Name="ru-ru">
                <Component Id="cmp1A7C63C7D9769716DA4E170094693BDC" Guid="*">
                    <File Id="fil5AC5FAAFF384BD4C35B9DD7B33CBDF75" KeyPath="yes" Source="$(var.ArticleSchedulerDirPath)\ru-ru\Quantumart.QP8.Resources.resources.dll" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="ArticleSchedulerProductComponents">
            <ComponentRef Id="cmp90C33EB5E2DB3E4EBB6AAFCB65DB2718" />
            <ComponentRef Id="cmpFD8D1FA405B0AF7D7D0B750DD00AEB32" />
            <ComponentRef Id="cmpCCA65F69CCE962DF8CDC66DCED784252" />
            <ComponentRef Id="cmp2E278AF11939A68F3FF063AC917E56DE" />
            <ComponentRef Id="cmp250D14287DB8ED05D92EAABD3FB4AD41" />
            <ComponentRef Id="cmp19D84577C1D37C76ADBF04D1049B83AC" />
            <ComponentRef Id="cmp5C296AE721EF43806758CCB609116AF9" />
            <ComponentRef Id="cmpE9CA9BB0D3E1351F92E49806D2331A62" />
            <ComponentRef Id="cmpE77DDE0FC4B62CF67FA1CB0D61B67ED1" />
            <ComponentRef Id="cmp9EA89B378796222B032D5B7A134B76CB" />
            <ComponentRef Id="cmp9722760D7009C5E077E5B7FEF2F1DE1B" />
            <ComponentRef Id="cmpCAECD45BDD1BD0C99ADB5BE6F786AB5A" />
            <ComponentRef Id="cmp86B9937D14318E56E859265701506430" />
            <ComponentRef Id="cmpA35E187461CB2D4854D1320DCD9163D4" />
            <ComponentRef Id="cmpB233CD3FD284C1BAC45ABBD23AFF3FD2" />
            <ComponentRef Id="cmp4DC6F188AE1562958CC6692407875EB5" />
            <ComponentRef Id="cmp5EF236533575A43DAD572F103978F347" />
            <ComponentRef Id="cmp74F4A41B4E707749D396E3272BDD6AA7" />
            <ComponentRef Id="cmpE5E60A1043E371430C22F3648BF23F15" />
            <ComponentRef Id="cmp7EC4D23E3C605B024C2C1E835531D92C" />
            <ComponentRef Id="cmpE633235771B8657B8AA0A14B5B7B56D8" />
            <ComponentRef Id="cmp09B377540BB2BDAA5764C57591C13872" />
            <ComponentRef Id="cmp68675FE063107AFDE03FD1A41D964793" />
            <ComponentRef Id="cmp55EF5410B1A4436BCA3795731C0DE031" />
            <ComponentRef Id="cmpB65ABD515D51E9CE3E99856CA0F4F6DA" />
            <ComponentRef Id="cmp886687AE8B85C17A80D386864D742C23" />
            <ComponentRef Id="cmp6BE865AFB51B469BE6805CE96D89BA0A" />
            <ComponentRef Id="cmpC992C484817353152A64D04DCC43599A" />
            <ComponentRef Id="cmpF1216ADC95D0DFDFDB6CB8D7FE5D0E17" />
            <ComponentRef Id="cmpC6D5208F8F512E269696E4EBD94253A7" />
            <ComponentRef Id="cmp146F4B157B315CC790DD2724E32FB646" />
            <ComponentRef Id="cmpA02CCB76C6ED4548A4C4F46C5974E558" />
            <ComponentRef Id="cmp39A968853ABC72752BAB00E6D6A5ED40" />
            <ComponentRef Id="cmp833CFCA3A156EB9930A3A261F9005AC5" />
            <ComponentRef Id="cmp2B0D8DAA17E8FE2AF1459C3DDC521FB3" />
            <ComponentRef Id="cmp1F822B21209952988D8CF40207861C13" />
            <ComponentRef Id="cmp093E386FEC99B27BEC143581F491AA5D" />
            <ComponentRef Id="cmpCE312B5129CB3BD79FF32A193EC2FD8D" />
            <ComponentRef Id="cmp08D1286964D3705C7CD2DABE66E4C66E" />
            <ComponentRef Id="cmp0BE16B9246E8DC4D99A467BA5EF71ABB" />
            <ComponentRef Id="cmpDF8DB2FC3C1BD065EA9A2EC75C9029DA" />
            <ComponentRef Id="cmpBA82C36D30F144FA7EA731A7ECDB2E17" />
            <ComponentRef Id="cmpB2B08DA0ACDFD016D4369191901EA312" />
            <ComponentRef Id="cmp731BEEE2AED92F0AA857DBB52EA29A79" />
            <ComponentRef Id="cmp4DBAE8791EAD694A28978C30E02C2A0C" />
            <ComponentRef Id="cmp6EEA73B63F1B1BFAB318ABDED6064746" />
            
            
            <ComponentRef Id="cmp404E5AFEB0DC3DD880B1C077338F6B90" />
            <ComponentRef Id="cmpE16DA554AE6C7B3BA557C82635BC8F71" />
            <ComponentRef Id="cmp23C10FCFEFB61B5AABDAED6D50B46604" />
            <ComponentRef Id="cmpEADC051421B0169018DFEFDB72D02B2D" />
            <ComponentRef Id="cmpE408BB57AA50E0A2FCE188B3FCE2D484" />
            <ComponentRef Id="cmpFBD2AC2E8B4C6A48E173E46EEB9B96C7" />
            <ComponentRef Id="cmp13C800B3B824D39B123FCF0E15C50AAC" />
            <ComponentRef Id="cmp27ADFDA33DEC42ABD79C0FDA40C2C52C" />
            <ComponentRef Id="cmpE75181A1CA0E0F8A377BBC90F5075E67" />
            <ComponentRef Id="cmpD29C6EB70C51E6FE50D1FE958E572A9C" />
            <ComponentRef Id="cmp85EFE05F38A4F8C91B0025FAAF57C31C" />
            <ComponentRef Id="cmp4460F27F67FC57CC0E2546233053F48D" />
            <ComponentRef Id="cmpDC916AA7813E43F501E3F32BD08BBE86" />
            <ComponentRef Id="cmp953B2784E7A9DFACE313618644184EDD" />
            <ComponentRef Id="cmp4F42DC88C5268B11CE68798B97741A5A" />
            <ComponentRef Id="cmp888BA8139C23745A78E7605697930557" />
            <ComponentRef Id="cmp1A7C63C7D9769716DA4E170094693BDC" />
        </ComponentGroup>
    </Fragment>
</Wix>