<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Tests data -->
    <add key="QP8BackendUrl" value="http://mscdev02:90/Backend/" />
    <add key="QP8BackendLogin" value="AutotestQuantumart" />
    <add key="QP8BackendPassword" value="1q2w-p=[Password" />
    <add key="QP8BackendCustomerCode" value="qp_beeline_main" />
    
    <!-- Allure settings -->
    <add key="AllureResultsPath" value="${BuildPath}allureresults" />
    
    <!-- Selenium Grid settings -->
    <add key="GridHubHost" value="localhost" />
    <add key="GridHubPort" value="4444" />

    <!-- Selenium timeouts in milliseconds -->
    <add key="PageLoadTimeout" value="25000" />
    <add key="ImplicitlyTimeout" value="2000" />
    <add key="JavaScriptTimeout" value="10000" />

  </appSettings>
</configuration>