<?xml version="1.0"?>
<appSettings>
  
  <!-- Variations settings -->
  <add key="SmokeVariations" value="1 t { &lt;" />
  <add key="FullVariations" value="1 123 t test ! @ # $ % ^ &amp; * ( ) { } &apos; &quot; &lt; &gt;" />
  
  <!-- Common settings -->
  <add key="BackendUrl" value="http://mscdev02:90/Backend/" />

  <!-- Authentication settings -->
  <add key="BackendLogin" value="AutotestQuantumart" />
  <add key="BackendPassword" value="1q2w-p=[Password" />
  <add key="BackendCustomerCode" value="qp_beeline_main" />
  <add key="BackendCustomerCodeFieldType" value="dropdown" /> <!-- dropdown || input -->
  
</appSettings>
