<?xml version="1.0" encoding="utf-8"?>

<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  keepVariablesOnReload="true"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogFile="c:\logs\nlog-internal.log">

  <extensions>
    <add assembly="QP8.Infrastructure.Logging.PrtgMonitoring" />
  </extensions>

  <variable name="eventId" value="9999" />
  <variable name="udpPort" value="9999" />
  <variable name="appName" value="QP.CommonScheduler" />
  <variable name="machineName" value="mscdev02" />
  <variable name="prtgHostName" value="http://mscmonitor01:5050/" />
  <variable name="prtgTokenName" value="${appName}.Notifications.Cleanup.${machineName}" />
  <variable name="logMessage" value="${longdate} - ${level:uppercase=true}: ${message}" />
  <variable name="defaultLogDir" value="c:\logs\${appName}" />
  <variable name="defaultLogPath" value="${defaultLogDir}\current.log" />
  <variable name="defaultArchivePath" value="${defaultLogDir}\archive\archive_${shortdate}.{##}.log" />
  <variable name="eventLogLayout"
            value="${logMessage}${newline}Callstack: ${callsite:className=true:includeSourcePath=true:methodName=true:fileName=true}${onexception:${newline}${newline}Exception\: ${exception:maxInnerExceptionLevel=10:format=ToString}${newline}${exception:format=Data}${newline}}" />
  <variable name="customerCodeLayout"
            value="${when:when=length('${mdc:item=customerCode}') &gt; 0:inner=${newline}CustomerCode\:           ${mdc:item=customerCode}}" />

  <variable name="defaultFileLayoutHeader"
            value="LogEntry #${counter}:            ${logMessage}
${newline}LoggerName:             ${logger}
${newline}PhysicalPath:           ${machinename}::${basedir} [${windows-identity}]
${newline}ProccessInfo:           ${processname:fullName=true} [pid:${processid}]
${customerCodeLayout}" />

  <variable name="defaultFileLayoutBottom"
            value="------------------------
${newline}${logMessage}
${newline}Callstack: ${callsite:className=true:includeSourcePath=true:methodName=true:fileName=true}
${onexception:${newline}Exception\: ${exception:maxInnerExceptionLevel=10:format=ToString}${newline}${exception:format=Data}}${newline}${newline}" />

  <variable name="defaultFileLayout" value="${defaultFileLayoutHeader}${newline}${defaultFileLayoutBottom}" />

  <targets async="true">
    <default-target-parameters
      xsi:type="File"
      encoding="utf-8"
      createDirs="true"
      keepFileOpen="false"
      archiveEvery="Day"
      maxArchiveFiles="20"
      archiveAboveSize="25000000"
      writeFooterOnArchivingOnly="true"
      archiveNumbering="DateAndSequence"
      enableArchiveFileCompression="false" />

    <target xsi:type="BufferingWrapper" name="cleanup" bufferSize="15" flushTimeout="1500">
      <target xsi:type="File" archiveOldFileOnStartup="true"
              header="Log was created at ${longdate}${newline}"
              footer="Log was archived at ${longdate}"
              layout="${defaultFileLayout}"
              fileName="${defaultLogDir}\interface.notifications.log"
              archiveFileName="${defaultLogDir}\archive\notifications\archive_${shortdate}.interface.{##}.log" />
    </target>

    <target xsi:type="BufferingWrapper" name="default" bufferSize="15" flushTimeout="1500">
      <target xsi:type="File" archiveOldFileOnStartup="true"
              header="Log was created at ${longdate}${newline}"
              footer="Log was archived at ${longdate}"
              layout="${defaultFileLayout}"
              fileName="${defaultLogPath}"
              archiveFileName="${defaultArchivePath}" />
    </target>

    <target xsi:type="PrtgMonitoring" name="prtg" host="${prtgHostName}" identificationToken="${prtgTokenName}">
      <layout xsi:type='JsonLayout'>
        <attribute name='prtg' encode='false'>
          <layout xsi:type='JsonLayout'>
            <attribute name='result' encode='false'>
              <layout xsi:type='CompoundLayout'>
                <layout xsi:type='SimpleLayout' text="[" />
                <layout xsi:type='JsonLayout'>
                  <attribute name='channel' layout='State' />
                  <attribute name='value' layout='${event-properties:item=ServiceState}' />
                </layout>
                <layout xsi:type='SimpleLayout' text=", " />
                <layout xsi:type='JsonLayout'>
                  <attribute name='channel' layout='Queue' />
                  <attribute name='value' layout='${event-properties:item=ServiceQueue}' />
                </layout>
                <layout xsi:type='SimpleLayout' text=", " />
                <layout xsi:type='JsonLayout'>
                  <attribute name='channel' layout='Status' />
                  <attribute name='value' layout='${event-properties:ServiceStatus}' />
                </layout>
                <layout xsi:type='SimpleLayout' text="]" />
              </layout>
            </attribute>
            <attribute name='text' layout='${message}' />
          </layout>
        </attribute>
      </layout>
    </target>

    <target xsi:type="EventLog" name="eventlog" log="Application" eventId="${eventId}" source="qp8.notification"
            onOverflow="Truncate" layout="${eventLogLayout}" />
    <target xsi:type="NLogViewer" name="udp" includeSourceInfo="true" address="udp://127.0.0.1:${udpPort}" />
  </targets>

  <rules>
    <logger name="prtg" writeTo="prtg" final="true" />
    <logger name="*" writeTo="udp" minlevel="Trace" />
    <logger name="Quantumart.QP8.Scheduler.Notification*" writeTo="eventlog" minlevel="Error" />
    <logger name="Quantumart.QP8.Scheduler.Notification*" writeTo="cleanup" minlevel="Info" />
    <logger name="*" writeTo="default" minlevel="Info" enabled="false" />
  </rules>
</nlog>
