@model Quantumart.QP8.WebMvc.ViewModels.UserGroup.UserGroupTreeViewModel

@using (Html.BeginDocumentPadding())
{
  if (!Model.IsReadOnly && Model.ShowAddNewItemButton)
  {
    using (Html.BeginLinkButtonsList())
    {
      @Html.AddNewItemLink(Model)
    }
  }
  <div class="t-widget t-treeview t-reset" id="@Model.MainComponentId"></div>
  <script type="text/javascript">
    $('#@Model.MainComponentId').tTreeView();
  </script>
}

@Html.PrepareAndRunInitScript(Model)
