<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>

  <connectionStrings>
    <add name="QPDataContext" connectionString="data source=MSCsql01.artq.com;initial catalog=qp_demo_main;integrated security=True;MultipleActiveResultSets=True;App=EF6" providerName="System.Data.SqlClient" />
    <add name="Model1" connectionString="data source=MSCsql01.artq.com;initial catalog=beeline_catalog_branch_main;integrated security=True;MultipleActiveResultSets=True;App=EF6" providerName="System.Data.SqlClient" />
    <add name="EF6Model" connectionString="data source=MSCsql01.artq.com;initial catalog=beeline_catalog_branch_main;integrated security=True;MultipleActiveResultSets=True;App=EF6" providerName="System.Data.SqlClient" />
    <add name="Model12" connectionString="data source=MSCsql01.artq.com;initial catalog=qp_demo_main;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>
