{
  "presets": [
    ["env", {
      "loose": false,
      "debug": false,
      "targets": {
        "uglify": false,
        "browsers": ["ie >= 9", "> 5%", "last 3 version"]
      }
    }],
    "stage-2",
    "react"
  ],
  "plugins": [
    "syntax-decorators"
  ],
  "ignore": [
    "node_modules"
  ]
}
