node_modules/
**/vendor/**
**/build/**
*.min.js

siteMvc/Scripts/Quantumart/ckeditor/aspell/**
!siteMvc/Scripts/Quantumart/ckeditor/aspell/plugin.js

siteMvc/Scripts/Quantumart/ckeditor/codemirror/**

siteMvc/Scripts/Quantumart/jQueryExtensions.js

siteMvc/Scripts/Quantumart/BackendImageCropResizeClient.js
