<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off" internalLogFile="c:\logs\nlog-internal.log">
  <targets>
    <target xsi:type="File" name="trace" fileName="C://logs/SeleniumExtension/trace.log"
            layout="${longdate}${newLine}${uppercase:${level}}${newLine}${message}${newLine}" />
  </targets>
  <rules>
    <logger name="*" minlevel="Trace" writeTo="trace" />
  </rules>
</nlog>
