<#@ template debug="false" hostspecific="true" language="C#"#>
<#@output extension=".log"#>

<#@ assembly name="System.Core"#>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.Data.Entity" #>
<#@ assembly name="System.Data.Entity.Design"#>
<#@ assembly name="System.Data.Linq"#>
<#@ assembly name="EnvDTE"#>
<#@ assembly name="System.Xml"#>
<#@ assembly name="System.Xml.Linq"#>
<#@ assembly name="$(TargetDir)Quantumart.QP8.CodeGeneration.dll"#>

<#@ import namespace="System"#>
<#@ import namespace="System.CodeDom"#>
<#@ import namespace="System.CodeDom.Compiler"#>
<#@ import namespace="System.Collections.Generic"#>
<#@ import namespace="System.Data.Linq"#>
<#@ import namespace="System.Data.Linq.Mapping"#>
<#@ import namespace="System.IO"#>
<#@ import namespace="System.ComponentModel"#>
<#@ import namespace="System.Linq"#>
<#@ import namespace="System.Xml"#>
<#@ import namespace="System.Linq"#>
<#@ import namespace="System.Reflection"#>
<#@ import namespace="System.Text"#>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ import namespace="System.Xml.Linq"#>
<#@ import namespace="System.IO" #>
<#@ import namespace="Quantumart.QP8.CodeGeneration.Services" #>

<#@ include file="..\..\CodeGeneration\Templates\Manager.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\TestClassTemplate.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\Model.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\MappingConfiguratorOnModelCreating.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\ModelMappingConfigurator.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\FileMappingConfigurator.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\DatabaseMappingConfigurator.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\ModelExtensions.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\ConnectionScope.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\Classes.ttinclude" #>
<#@ include file="..\..\EntityFramework6.DevData\QPDataContextInclude\ClassExtensions.ttinclude" #>

<#
	using (var context = new GenerationContext(this, Host, GenerationEnvironment, "QPDataContextGenerator.tt.settings.xml"))
	{
		var className = context.Model.Schema.ClassName;
		var settings = context.Settings;
		
		context.AddTemplateFile(className + ".cs", AddModel, settings.GenerateModel);
		context.AddTemplateFile(className + "Extensions.cs", AddModelExtensions, settings.GenerateModel);
		context.AddTemplateFile(className + "ConnectionScope.cs", AddConnectionScope, settings.GenerateModel);

		context.AddTemplateFile(className + "MappingConfigurator.cs", AddModelMappingConfigurator, settings.GenerateMappings);
		context.AddTemplateFile("FileMappingConfigurator.cs", AddFileMappingConfigurator, settings.GenerateMappings);
		context.AddTemplateFile("DatabaseMappingConfigurator.cs", AddDatabaseMappingConfigurator, settings.GenerateMappings);
		context.AddCodeFile(@"..\..\EntityFramework\Services\DatabaseModelMappingService.cs", settings.GenerateInterface);
		
		context.AddCodeFile(@"..\..\EntityFramework\Models\IQPArticle.cs", settings.GenerateInterface);
		context.AddCodeFile(@"..\..\EntityFramework\Models\IQPLibraryService.cs", settings.GenerateInterface);
		context.AddCodeFile(@"..\..\EntityFramework\Models\IQPFormService.cs", settings.GenerateInterface);

		context.AddCodeFile(@"..\..\EntityFramework\Services\IMappingConfigurator.cs", settings.GenerateMappingInterface);
		context.AddCodeFile(@"..\..\EntityFramework\Services\MappingConfiguratorBase.cs", settings.GenerateMappingInterface);

		context.AddCodeFile(@"..\..\EntityFramework\Models\StatusType.cs", settings.GenerateClasses);
		context.AddCodeFile(@"..\..\EntityFramework\Models\User.cs", settings.GenerateClasses);
		context.AddCodeFile(@"..\..\EntityFramework\Models\UserGroup.cs", settings.GenerateClasses);
		context.AddTemplate(AddClasses, settings.GenerateClasses);
		context.AddTemplateFile(className + ".Contents.Extensions.cs", AddClassExtensions, settings.GenerateClasses && settings.GenerateExtensions);
	}
#>