.imgCropResizeWindow .t-window-content.t-content {
  padding:5px;
}
.imgCropResize .disabled * {
  color:#808080;
}
.imgCropResize .errorsContainer {
  color: red;
}
.imgCropResize .errors{
  list-style-type:disc;
  padding-left:15px;
}
.imgCropResize .nouislider {
  width:250px;
}
.imgCropResize dl, .imgCropResize dt, .imgCropResize dd {
  padding:0px;
  margin:0px;
}
.imgCropResize  dl {
 width:100%;
 overflow:hidden;
}
.imgCropResize  dt, .imgCropResize dd {
 float:left;
 width:50%;
}
.imgCropResize  dt {
 clear:left;
}
.imgCropResize  ul {
  padding:0px;
}
.imgCropResize  ul li {
  width:250px;
}
.imgCropResize   .formItem   ul {
  list-style-type: none;
}
.imgCropResize .content-container
{
  width: 100%;
  height:100%;
}
.imgCropResize   .image
{
  overflow-x:auto;
  overflow-y:auto;
  position:relative;
  padding: 5px;
}
.imgCropResize .image   img {
  border: 1px solid black;
}
.imgCropResize  .aside
{
  width:300px;
  float: left;
}
.imgCropResize  .aside fieldset {
  border-radius:5px;
  height:100%;
  margin-bottom:5px;
}
