<!DOCTYPE html>
<html>
<head>
  <title>Test custom actions host</title>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
  <script src="~/Scripts/jquery-1.7.1.js"></script>
</head>
<body>
  @RenderBody()
  <script src="~/Scripts/pmrpc.js"></script>
  <script src="~/Scripts/QP8BackendApi.Interaction/QP8BackendApi.Interaction.js"></script>
</body>
</html>
