<?xml version="1.0" encoding="utf-8"?>
<RunSettings>
  <!-- Parameters used by tests at runtime -->
  <TestRunParameters>
    <Parameter name="qp8_test_ci_dbserver" value="#{pg.server}#" />
    <Parameter name="qp8_test_ci_dbname" value="qp8_test_ci_#{Agent.Name}#" />
    <Parameter name="qp8_test_ci_pg_login" value="#{pg.login}#" />
    <Parameter name="qp8_test_ci_pg_password" value="#{pg.password}#" />
  </TestRunParameters>
</RunSettings>
