.btn-list {
   background: none;
   border: none;
   display: inline;
   font: inherit;
   margin: 0;
   padding: 0;
   outline: none;
   outline-offset: 0;

   color: #0066d5;
   cursor: pointer;
   text-decoration: underline;
}

.aggregationListContainer img {
  cursor: pointer;
}
