<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="qpublishing" type="Quantumart.QP8.Configuration.QPublishingSection, Quantumart.QP8.Configuration" />
  </configSections>
  <qpublishing backendUrl="/Backend/" defaultTheme="qp8" uploadMaxSize="1024" cmdTimeout="120" relationLimit="500" qpConfigPath="C:\QA\config.xml">
    <globalization defaultLanguageId="1" defaultCulture="en-us" />
    <authentication allowSaveUserInformationInCookie="true">
      <windowsAuthentication loginUrl="~/WinLogOn">
        <ipRanges>
          <add name="localhost" beginIp="127.0.0.1" endIp="127.0.0.2" />
        </ipRanges>
      </windowsAuthentication>
    </authentication>
  </qpublishing>
  <appSettings>
    <add key="aspnet:MaxJsonDeserializerMembers" value="5000000" />
    <add key="Set500ForHandledExceptions" value="false" />
  </appSettings>
</configuration>
