<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  keepVariablesOnReload="true"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogFile="c:\logs\nlog-internal.log">

  <variable name="eventId" value="9999" />
  <variable name="udpPort" value="9999" />
  <variable name="appName" value="QP.WebUI" />
  <variable name="logMessage" value="${longdate} - ${level:uppercase=true}: ${message}" />
  <variable name="defaultLogDir" value="c:\logs\${appName}" />
  <variable name="defaultLogPath" value="${defaultLogDir}\current.log" />
  <variable name="defaultArchivePath" value="${defaultLogDir}\archive\archive_${shortdate}.{##}.log" />
  <variable name="eventLogLayout" value="${logMessage}${newline}Callstack: ${callsite:className=true:includeSourcePath=true:methodName=true:fileName=true}${onexception:${newline}${newline}Exception\: ${exception:maxInnerExceptionLevel=10:format=ToString}${newline}${exception:format=Data}${newline}}" />
  <variable name="customerCodeLayout" value="${when:when=length('${mdc:item=customerCode}') &gt; 0:inner=${newline}CustomerCode\:           ${mdc:item=customerCode}}" />

  <variable name="defaultFileLayoutHeader" value="LogEntry #${counter}:            ${logMessage}
${newline}LoggerName:             ${logger}
${newline}PhysicalPath:           ${machinename}::${basedir} [${windows-identity}]
${newline}ProccessInfo:           ${processname:fullName=true} [pid:${processid}]
${customerCodeLayout}" />

  <variable name="defaultFileLayoutBottom" value="------------------------
${newline}${logMessage}
${newline}Callstack: ${callsite:className=true:includeSourcePath=true:methodName=true:fileName=true}
${onexception:${newline}Exception\: ${exception:maxInnerExceptionLevel=10:format=ToString}${newline}${exception:format=Data}}${newline}${newline}" />

  <variable name="defaultFileLayout" value="${defaultFileLayoutHeader}${newline}${defaultFileLayoutBottom}" />

  <variable name="mvcBaseDir" value="c:\logs\${iis-site-name}" />
  <variable name="mvcFileLayout" value="IIS SiteName:           ${iis-site-name}
${newline}HttpRequest:            ${when:when=length('${mdc:item=httpErrorCode}') &gt; 0:inner=[${mdc:item=httpErrorCode}] }${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true} (${aspnet-request:header=Content-Type})
${newline}UserAgent:              ${aspnet-request-useragent}
${newline}IsAuthenticated:        ${when:when=starts-with('${identity}','auth:'):inner=Authenticated as ${identity}:else=Not Authenticated}" />

  <variable name="qpFileLayout" value="${defaultFileLayoutHeader}
${newline}${mvcFileLayout}
${newline}Cookies:                ${aspnet-request-cookie:CookieNames=ASP.NET_SessionId,QPAUTH}
${newline}${defaultFileLayoutBottom}" />

  <targets async="true">
    <default-target-parameters
      xsi:type="File"
      encoding="utf-8"
      createDirs="true"
      keepFileOpen="false"
      archiveEvery="Day"
      maxArchiveFiles="20"
      archiveAboveSize="25000000"
      writeFooterOnArchivingOnly="true"
      archiveNumbering="DateAndSequence"
      enableArchiveFileCompression="false" />

    <target xsi:type="BufferingWrapper" name="csvImport" bufferSize="15" flushTimeout="1500" >
      <target xsi:type="SplitGroup">
        <target xsi:type="FilteringWrapper" condition="level &gt;= LogLevel.Error">

          <target xsi:type="File" archiveOldFileOnStartup="true"
                  header="Log was created at ${longdate}${newline}"
                  footer="Log was archived at ${longdate}"
                  layout="${qpFileLayout}"
                  fileName="${mvcBaseDir}\csvimport.errors.current.log"
                  archiveFileName="${mvcBaseDir}\archive\errors\csvimport.archive_${shortdate}.{##}.log" />
        </target>

        <target xsi:type="FilteringWrapper" condition="level &lt; LogLevel.Error">
          <target xsi:type="File" archiveOldFileOnStartup="true"
                  header="Log was created at ${longdate}${newline}"
                  footer="Log was archived at ${longdate}"
                  layout="${qpFileLayout}"
                  fileName="${mvcBaseDir}\csvimport.trace.current.log"
                  archiveFileName="${mvcBaseDir}\archive\trace\csvimport.archive_${shortdate}.{##}.log" />
        </target>

        <target xsi:type="File" archiveOldFileOnStartup="true"
                header="Log was created at ${longdate}${newline}"
                footer="Log was archived at ${longdate}"
                layout="${qpFileLayout}"
                fileName="${mvcBaseDir}\csvimport.current.log"
                archiveFileName="${mvcBaseDir}\archive\csvimport.archive_${shortdate}.{##}.log" />
      </target>
    </target>

    <target xsi:type="BufferingWrapper" name="web" bufferSize="15" flushTimeout="1500" >
      <target xsi:type="SplitGroup">
        <target xsi:type="FilteringWrapper" condition="level &gt;= LogLevel.Error">

          <target xsi:type="File" archiveOldFileOnStartup="true"
                  header="Log was created at ${longdate}${newline}"
                  footer="Log was archived at ${longdate}"
                  layout="${qpFileLayout}"
                  fileName="${mvcBaseDir}\errors.current.log"
                  archiveFileName="${mvcBaseDir}\archive\errors\archive_${shortdate}.{##}.log" />
        </target>

        <target xsi:type="FilteringWrapper" condition="level &lt; LogLevel.Error">
          <target xsi:type="File" archiveOldFileOnStartup="true"
                  header="Log was created at ${longdate}${newline}"
                  footer="Log was archived at ${longdate}"
                  layout="${qpFileLayout}"
                  fileName="${mvcBaseDir}\trace.current.log"
                  archiveFileName="${mvcBaseDir}\archive\trace\archive_${shortdate}.{##}.log" />
        </target>

        <target xsi:type="File" archiveOldFileOnStartup="true"
                header="Log was created at ${longdate}${newline}"
                footer="Log was archived at ${longdate}"
                layout="${qpFileLayout}"
                fileName="${mvcBaseDir}\current.log"
                archiveFileName="${mvcBaseDir}\archive\archive_${shortdate}.{##}.log" />
      </target>
    </target>

    <target xsi:type="BufferingWrapper" name="default" bufferSize="15" flushTimeout="1500" >
      <target xsi:type="File" archiveOldFileOnStartup="true"
              header="Log was created at ${longdate}${newline}"
              footer="Log was archived at ${longdate}"
              layout="${defaultFileLayout}"
              fileName="${defaultLogPath}"
              archiveFileName="${defaultArchivePath}" />
    </target>

    <target xsi:type="EventLog" name="eventlog" log="Application" eventId="${eventId}" source="${appName}" onOverflow="Truncate" layout="${eventLogLayout}" />
    <target xsi:type="NLogViewer" name="udp" includeSourceInfo="true" address="udp://127.0.0.1:${udpPort}" />
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="*" writeTo="udp" minlevel="Trace" />
    <logger name="*" writeTo="eventlog" minlevel="Error" />
    <logger name="Quantumart.QP8.BLL.Services.MultistepActions.Import*" writeTo="csvImport" minlevel="Trace" final="true" />
    <logger name="Quantumart.QP8.WebMvc*" writeTo="web" minlevel="Info" />
    <logger name="*" writeTo="default" minlevel="Info" enabled="false" />
  </rules>
</nlog>
