<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  keepVariablesOnReload="true"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogFile="c:\logs\nlog-internal.log">
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.WindowsIdentity" />
  </extensions>
  <variable name="defaultFileLayoutHeader" value="LogEntry #${counter}:
${newline}LoggerName:             ${logger}
${newline}PhysicalPath:           ${machinename}::${basedir} [${windows-identity}]
${newline}ProccessInfo:           ${processname:fullName=true} [pid:${processid}]
${when:when=length('${event-properties:item=customerCode}') &gt; 0:inner=${newline}CustomerCode\:           ${event-properties:item=customerCode}}" />

  <variable name="defaultFileLayoutBottom" value="------------------------
${newline}${longdate} - ${level:uppercase=true}: ${message}
${newline}Callstack: ${callsite:className=true:includeSourcePath=true:methodName=true:fileName=true}
${onexception:${newline}Exception\: ${exception:maxInnerExceptionLevel=10:format=ToString}${newline}${exception:format=Data}}${newline}${newline}" />

  <variable name="mvcFileLayout" value="
${newline}HttpRequest:            ${aspnet-request-method} ${aspnet-request-url:IncludePort=true:IncludeQueryString=true} (${aspnet-request:header=Content-Type})
${newline}UserAgent:              ${aspnet-request-useragent}
${newline}IsAuthenticated:        ${when:when='${aspnet-user-isAuthenticated}'==1:inner=Authenticated as ${aspnet-user-identity}:else=Not Authenticated}
${newline}Cookies:                ${aspnet-request-cookie:CookieNames=.AspNetCore.Session,.AspNetCore.Cookies}" />

  <variable name="defaultFileLayout" value="${defaultFileLayoutHeader}${newline}${defaultFileLayoutBottom}" />
  <variable name="qpFileLayout" value="${defaultFileLayoutHeader}${mvcFileLayout}${newline}${defaultFileLayoutBottom}" />
  <variable name="defaultLogDir" value="c:\logs\QP.WebUI" />
  <targets async="true">
    <default-target-parameters
      xsi:type="File"
      encoding="utf-8"
      createDirs="true"
      keepFileOpen="false"
      archiveEvery="Day"
      maxArchiveFiles="20"
      archiveAboveSize="25000000"
      writeFooterOnArchivingOnly="true"
      archiveNumbering="DateAndSequence"
      enableArchiveFileCompression="false" />

    <target xsi:type="BufferingWrapper" name="csvImport" bufferSize="15" flushTimeout="1500" >
        <target xsi:type="File" archiveOldFileOnStartup="true"
                header="Log was created at ${longdate}${newline}"
                footer="Log was archived at ${longdate}"
                layout="${qpFileLayout}"
                fileName="${defaultLogDir}\csvimport.current.log"
                archiveFileName="${defaultLogDir}\archive\csvimport.archive_${shortdate}.{##}.log" />
    </target>

    <target xsi:type="BufferingWrapper" name="default" bufferSize="15" flushTimeout="1500" >
      <target xsi:type="File" archiveOldFileOnStartup="true"
              header="Log was created at ${longdate}${newline}"
              footer="Log was archived at ${longdate}"
              layout="${qpFileLayout}"
              fileName="${defaultLogDir}\current.log"
              archiveFileName="${defaultLogDir}\archive\archive_${shortdate}.{##}.log" />
    </target>
    <target name="fileStructured"
            xsi:type="File"
            fileName="${defaultLogDir}/current-${shortdate}.log"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="user" layout="${aspnet-user-identity}" />
        <attribute name="eventProperties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="3"/>
        </attribute>
      </layout>
    </target>

    <target name="console"
            xsi:type="Console"
            encoding="UTF-8">
      <layout xsi:type="JsonLayout">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="user" layout="${aspnet-user-identity}" />
        <attribute name="eventProperties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="3"/>
        </attribute>
        <attribute name="emitter" encode='false'>
          <layout xsi:type="JsonLayout">
            <attribute name="appname" layout="${environment:SERVICE_NAME}" />
            <attribute name="version" layout="${environment:SERVICE_VERSION}" />
          </layout>
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="prtg" final="true" />
    <logger name="Quantumart.QP8.BLL.Services.MultistepActions.Import*" writeTo="console" minlevel="Trace" final="true" />
    <logger name="*" writeTo="console" minlevel="Info" />
  </rules>
</nlog>
