<?xml version="1.0" encoding="utf-8" ?>
<nlog
  xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
  keepVariablesOnReload="true"
  autoReload="true"
  throwExceptions="false"
  internalLogLevel="Error"
  internalLogFile="c:\logs\nlog-internal.log">

  <variable name="defaultLogDir" value="c:\logs\QP8" />
  <targets async="true">

    <target name="fileStructured"
            xsi:type="File"
            fileName="${defaultLogDir}/current.log"
            archiveFileName="${defaultLogDir}/current{#####}.log"
            archiveEvery="Day"
            archiveNumbering="Sequence"
            maxArchiveFiles="7"
            concurrentWrites="true"
            keepFileOpen="false"
            encoding="UTF-8">
      <layout xsi:type="JsonLayout" renderEmptyObject="false">
        <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-ddTHH\:mm\:ss.fffZ}" />
        <attribute name="level" layout="${level:upperCase=true}" />
        <attribute name="logger" layout="${logger}" />
        <attribute name="request_id" layout="${aspnet-traceidentifier}" />
        <attribute name="method" layout="${aspnet-request-method}" />
        <attribute name="contentType" layout="${aspnet-request:header=Content-Type}" />
        <attribute name="url"
                   layout="${aspnet-request-url:IncludeHost=true:IncludePort=true:IncludeQueryString=true}" />
        <attribute name="message" layout="${message}" />
        <attribute name="exception" layout="${exception:format=@}"
                   encode="false" />
        <attribute name="user" layout="${identity}" />
        <attribute name="customerCode" layout="${mdc:item=customerCode}" />
        <attribute name="httpErrorCode" layout="${mdc:item=httpErrorCode}" />
        <attribute name="eventProperties" encode="false">
          <layout xsi:type="JsonLayout" includeAllProperties="true" maxRecursionLimit="3"/>
        </attribute>
      </layout>
    </target>
  </targets>

  <rules>
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    <logger name="prtg" final="true" />
    <logger name="Quantumart.QP8.BLL.Services.MultistepActions.Import*" writeTo="fileStructured" minlevel="Trace" final="true" />
    <logger name="*" writeTo="fileStructured" minlevel="Info"  />
  </rules>
</nlog>
