<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" requirePermission="true" />
    <sectionGroup name="telerik">
      <section name="webAssets" type="Telerik.Web.Mvc.Configuration.WebAssetConfigurationSection, Telerik.Web.Mvc" requirePermission="false" />
    </sectionGroup>
    <section name="qpublishing" type="Quantumart.QP8.Configuration.QPublishingSection, Quantumart.QP8.Configuration" />
  </configSections>
  <loggingConfiguration name="" tracingEnabled="true" defaultCategory="General">
    <listeners>
      <add name="Event Log Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" source="Enterprise Library Logging" formatter="Text Formatter" log="" machineName="." traceOutputOptions="None" />
      <add name="Flat File Trace Listener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" fileName="C:\Logs\QP8\trace.log" formatter="Text Formatter" />
      <add listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.CustomTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" type="Quantumart.QP8.Logging.Web.Listeners.HttpContextTraceListener, Quantumart.QP8.Logging.Web, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="HttpContextTraceListener" formatter="SiteTemplateFormatter" traceOutputOptions="Timestamp" />
      <add listenerDataType="Quantumart.QP8.Logging.Loggers.Listeners.FlatFileSplittedByCustomerCodeTraceListenerData, Quantumart.QP8.Logging.Loggers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" type="Quantumart.QP8.Logging.Loggers.Listeners.FlatFileSplittedByCustomerCodeTraceListener, Quantumart.QP8.Logging.Loggers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="FlatFileSplittedByCustomerCodeTraceListener" fileName="C:\Logs\QP8\import_{CustomerCode}.log" formatter="LogTemplateFormatter" traceOutputOptions="Timestamp" />
    </listeners>
    <formatters>
      <add type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" template="Timestamp: {timestamp}{newline}&#xA;Message: {message}{newline}&#xA;Category: {category}{newline}&#xA;Priority: {priority}{newline}&#xA;EventId: {eventid}{newline}&#xA;Severity: {severity}{newline}&#xA;Title:{title}{newline}&#xA;Machine: {localMachine}{newline}&#xA;App Domain: {localAppDomain}{newline}&#xA;ProcessId: {localProcessId}{newline}&#xA;Process Name: {localProcessName}{newline}&#xA;Thread Name: {threadName}{newline}&#xA;Win32 ThreadId:{win32ThreadId}{newline}&#xA;Extended Properties: {dictionary({key} - {value}{newline})}" name="Text Formatter" />
      <add Default="Quantumart.QP8.Logging.Templates.Default.DefaultTextTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Error="Quantumart.QP8.Logging.Templates.Default.ErrorTextTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" ImportSettings="Quantumart.QP8.Logging.Templates.Import.ImportEndTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" ImportStepSettings="Quantumart.QP8.Logging.Templates.Import.ImportStepLogTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" type="Quantumart.QP8.Logging.Formatters.TemplateFormatter, Quantumart.QP8.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="LogTemplateFormatter" />
      <add Default="Quantumart.QP8.Logging.Templates.Default.DefaultTextTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" Error="Quantumart.QP8.Logging.Templates.Default.ErrorTextTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" ImportSettings="Quantumart.QP8.Logging.Templates.Import.ImportEndTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" ImportStepSettings="Quantumart.QP8.Logging.Templates.Import.ImportStepSiteTemplate, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" type="Quantumart.QP8.Logging.Formatters.TemplateFormatter, Quantumart.QP8.Logging, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" name="SiteTemplateFormatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="Flat File Trace Listener" />
        </listeners>
      </add>
      <add switchValue="All" name="ImportArticlesLogger">
        <listeners>
          <add name="HttpContextTraceListener" />
          <add name="FlatFileSplittedByCustomerCodeTraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Event Log Listener" />
          <add name="Flat File Trace Listener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <exceptionHandling>
    <exceptionPolicies>
      <add name="Policy">
        <exceptionTypes>
          <add name="All Exceptions" type="System.Exception, mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="General" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.TextExceptionFormatter, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" priority="0" />
            </exceptionHandlers>
          </add>
          <add name="ImportException" type="Quantumart.QP8.BLL.Exceptions.ImportException, Quantumart.QP8.BLL, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" postHandlingAction="NotifyRethrow">
            <exceptionHandlers>
              <add name="Logging Exception Handler" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging.LoggingExceptionHandler, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Logging, Version=5.0.414.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" logCategory="ImportArticlesLogger" eventId="100" severity="Error" title="Enterprise Library Exception Handling" formatterType="Quantumart.QP8.Logging.Templates.Import.ImportExceptionFormatter, Quantumart.QP8.Logging.Templates, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" priority="0" />
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>
    </exceptionPolicies>
  </exceptionHandling>
  <connectionStrings>
    <add name="publishing" connectionString="Data Source=MSCPC08;Initial Catalog=QP7;User ID=QP7User;Password=QP7te$t2010;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
  </appSettings>
  <telerik>
    <webAssets useTelerikContentDeliveryNetwork="false" />
  </telerik>
  <qpublishing backendUrl="/Backend/" defaultTheme="qp8" uploaderType="plupload" uploadMaxSize="1024" cmdTimeout="120" relationLimit="500">
    <globalization defaultLanguageId="1" defaultCulture="en-us" />
    <authentication allowSaveUserInformationInCookie="true">
      <windowsAuthentication loginUrl="~/WinLogOn">
        <ipRanges>
          <add name="localhost" beginIp="127.0.0.1" endIp="127.0.0.2" />
        </ipRanges>
      </windowsAuthentication>
    </authentication>
  </qpublishing>
  <system.web>
    <compilation targetFramework="4.5" debug="true" />
    <httpRuntime targetFramework="4.5" requestValidationMode="2.0" maxRequestLength="10240" />
    <identity impersonate="false" />
    <customErrors mode="Off" />

    <authentication mode="Forms">
      <forms loginUrl="~/LogOn/" defaultUrl="~/" name="QPAUTH" timeout="300" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>

    <httpModules>
      <add name="Authentication" type="Quantumart.QP8.Security.AuthenticationModule" />
    </httpModules>

    <httpHandlers>
      <add verb="GET,HEAD" path="asset.axd" validate="false" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </httpHandlers>

    <machineKey validationKey="26A3827284C6EBFB30024CA45563026CCF8B83F270B460820754EC4333ECDA0DBC085E63899B7C56DDAF20EA53F23FABA7879E0F7E6C7D7A2CC520AF6EB27BC0" decryptionKey="36B76D07945D41FB0C7B1DFB7B8D918A" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Authentication" type="Quantumart.QP8.Security.AuthenticationModule" />
    </modules>
    <handlers>
      <add name="AssetHandler" preCondition="integratedMode" verb="GET,HEAD" path="asset.axd" type="Telerik.Web.Mvc.WebAssetHttpHandler, Telerik.Web.Mvc" />
    </handlers>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBindingSetting" allowCookies="false" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.TreeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.TreeService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.TreeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.TreeService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.WebServices.NotificationWCFService" behaviorConfiguration="SimpleServiceBehavior">
        <endpoint binding="basicHttpBinding" contract="Quantumart.QP8.BLL.WCF.Notification.INotificationService" bindingConfiguration="HttpBindingSetting" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <client>
      <endpoint address="http://localhost:89/Backend/WebServices/NotificationWCFService.svc" binding="basicHttpBinding" contract="Quantumart.QP8.BLL.WCF.Notification.INotificationService" bindingConfiguration="HttpBindingSetting" />
    </client>
  </system.serviceModel>
  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Quantumart.QP8.BLL.BizObject, Quantumart.QP8.BLL">
          <knownType type="Quantumart.QP8.BLL.Site, Quantumart.QP8.BLL" />
          <knownType type="Quantumart.QP8.BLL.User, Quantumart.QP8.BLL" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Upload/SilverlightUpload.xap">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
