<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="qpublishing" type="Quantumart.QP8.Configuration.QPublishingSection, Quantumart.QP8.Configuration" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>

  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="false" />
    <add key="UnobtrusiveJavaScriptEnabled" value="false" />
    <add key="aspnet:MaxJsonDeserializerMembers" value="1000000" />
    <add key="Set500ForHandledExceptions" value="false" />
  </appSettings>

  <qpublishing backendUrl="/Backend/" defaultTheme="qp8" uploaderType="plupload" uploadMaxSize="1024" cmdTimeout="120" relationLimit="500" qpConfigPath="C:\QA\config.xml">
    <globalization defaultLanguageId="1" defaultCulture="en-us" />
    <authentication allowSaveUserInformationInCookie="true">
      <windowsAuthentication loginUrl="~/WinLogOn">
        <ipRanges>
          <add name="localhost" beginIp="127.0.0.1" endIp="127.0.0.2" />
        </ipRanges>
      </windowsAuthentication>
    </authentication>
  </qpublishing>

  <system.web>
    <customErrors mode="Off" />
    <identity impersonate="false" />
    <compilation targetFramework="4.5.2" debug="true" />
    <httpRuntime targetFramework="4.5.2" requestValidationMode="2.0" maxRequestLength="10240" />

    <authorization>
      <deny users="?" />
    </authorization>
    <authentication mode="Forms">
      <forms loginUrl="~/LogOn/" defaultUrl="~/" name="QPAUTH" timeout="300" slidingExpiration="true" cookieless="UseCookies" />
    </authentication>

    <httpModules>
      <add name="Authentication" type="Quantumart.QP8.Security.AuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>

    <machineKey validationKey="26A3827284C6EBFB30024CA45563026CCF8B83F270B460820754EC4333ECDA0DBC085E63899B7C56DDAF20EA53F23FABA7879E0F7E6C7D7A2CC520AF6EB27BC0" decryptionKey="36B76D07945D41FB0C7B1DFB7B8D918A" validation="SHA1" decryption="AES" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="Authentication" type="Quantumart.QP8.Security.AuthenticationModule" />
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="HttpBindingSetting" allowCookies="false" />
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.TreeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
        <behavior name="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeServiceAspNetAjaxBehavior">
          <enableWebScript />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="SimpleServiceBehavior">
          <serviceMetadata httpGetEnabled="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
    <services>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.TreeService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.TreeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.TreeService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.AuthenticationService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.BackendActionService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.EditingAreaService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.ValidationService" />
      </service>
      <service name="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeService">
        <endpoint address="" behaviorConfiguration="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeServiceAspNetAjaxBehavior" binding="webHttpBinding" contract="Quantumart.QP8.WebMvc.Backend.WebServices.EntityTypeService" />
      </service>
    </services>
  </system.serviceModel>

  <system.runtime.serialization>
    <dataContractSerializer>
      <declaredTypes>
        <add type="Quantumart.QP8.BLL.BizObject, Quantumart.QP8.BLL">
          <knownType type="Quantumart.QP8.BLL.Site, Quantumart.QP8.BLL" />
          <knownType type="Quantumart.QP8.BLL.User, Quantumart.QP8.BLL" />
        </add>
      </declaredTypes>
    </dataContractSerializer>
  </system.runtime.serialization>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.Common" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.505.0" newVersion="5.0.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <location path="Scripts">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
    </system.web>
  </location>
  <location path="Upload/SilverlightUpload.xap">
    <system.webServer>
      <staticContent>
        <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="01:00:00" />
      </staticContent>
    </system.webServer>
  </location>
  <elmah>
    <security allowRemoteAccess="true" />
  </elmah>
  <location path="elmah.axd" inheritInChildApplications="false">
    <system.web>
      <authorization>
        <allow roles="elmah" />
        <deny users="*" />
      </authorization>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
