@model  Quantumart.QP8.WebMvc.ViewModels.VisualEditor.AspellCheckVm

<!doctype html>
<html>
  <head>
    <title>Проверка орфографии</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" href="@Url.Content("~/Scripts/Quantumart/ckeditor/aspell/spellerpages/spellerStyle.css")" />
    <script src="@Url.Content("~/Scripts/Quantumart/ckeditor/aspell/spellerpages/wordWindow.js")"></script>
  </head>
  <body onLoad="init_spell();">
    <script>
      var error;
      var suggs = [];
      var words = [];
      var textinputs = [];

      words[0] = [];
      suggs[0] = [];
      textinputs[0] = decodeURIComponent("@Model.TextInputsVar");
      @Model.CheckerResults

      var wordWindowObj = new window.wordWindow();
      wordWindowObj.originalSpellings = words;
      wordWindowObj.suggestions = suggs;
      wordWindowObj.textInputs = textinputs;

      function init_spell() {
        if (error) {
          window.alert(error);
        } else {
          if (parent.frames.length) {
            parent.init_spell(wordWindowObj);
          } else {
            window.alert('This page was loaded outside of a frameset. It might not display properly');
          }
        }
      }

      wordWindowObj.writeBody();
    </script>
  </body>
</html>
