<?xml version="1.0"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <UI>
      <Dialog Id="WrongWindowsMessageDlg" Width="370" Height="270" Title="!(loc.WrongWindowsDlgTitle)">
        <Control Id="Cancel" Type="PushButton" X="304" Y="243" Width="56" Height="17" Cancel="yes" Text="!(loc.WixUICancel)">
          <Publish Event="SpawnDialog" Value="CancelDlg">1</Publish>
        </Control>
        <Control Id="Back" Type="PushButton" X="243" Y="243" Width="56" Height="17" Text="!(loc.WixUIBack)">
          <Publish Event="NewDialog" Value="CustomizeDlg">
            <![CDATA[1]]>
          </Publish>
        </Control>
        <Control Id="BannerBitmap" Type="Bitmap" X="0" Y="0" Width="370" Height="44" TabSkip="no" Text="!(loc.VerifyReadyDlgBannerBitmap)" />
        <Control Id="BannerLine" Type="Line" X="0" Y="44" Width="370" Height="2" />
        <Control Id="BottomLine" Type="Line" X="0" Y="234" Width="370" Height="2" />
        <Control Id="InstallTitle" Type="Text" X="15" Y="15" Width="300" Height="15" Transparent="yes"
                 NoPrefix="yes" Hidden="yes" Text="!(loc.WrongWindowsDlgInstallTitle)">
          <Condition Action="show">NOT Installed</Condition>
        </Control>
        <Control Id="label1" Type="Text" Height="17" Width="172" X="10" Y="56" Text="!(loc.WrongWindowsDlgErrorMessage)" />
      </Dialog>
    </UI>
  </Fragment>
</Wix>