<#@ template language="C#" #>
<#@ parameter name="Context" type="Quantumart.QP8.Logging.Loggers.LoggerContext" #>
Context:
    CustomerCode: <#= Context.CustomerCode #>
    UserName: <#= Context.UserIdentity.Name #>