<?xml version="1.0"?>
<configuration>
  <configSections>
    <section
        name="unity"
        type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>
  <unity>
    <alias alias="perTask" type="Microsoft.Practices.Unity.TransientLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="perRunningService" type="Microsoft.Practices.Unity.HierarchicalLifetimeManager, Microsoft.Practices.Unity" />
    <alias alias="ISchedule" type="Quantumart.QP8.Scheduler.API.ISchedule, Quantumart.QP8.Scheduler.API" />
    <alias alias="IntervalSchedule" type="Quantumart.QP8.Scheduler.API.IntervalSchedule, Quantumart.QP8.Scheduler.API" />
    <container>
      <register type="ISchedule" mapTo="IntervalSchedule" name="UserSynchronizationSchedule">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:20" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="NotificationSchedule">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:30" />
        </constructor>
      </register>
      <register type="ISchedule" mapTo="IntervalSchedule" name="CleanupNotificationQueueSchedule">
        <lifetime type="perRunningService" />
        <constructor>
          <param name="interval" value="00:00:40" />
        </constructor>
      </register>
    </container>
  </unity>
  <system.diagnostics>
    <sources>
      <source name="qp8.users" switchName="debug">
        <listeners>
          <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\Quantumart.QP8.Scheduler.Service\users.log" traceOutputOptions="DateTime,ProcessId,ThreadId"/>
          <add name="console" />
        </listeners>
      </source>
      <source name="qp8.notification" switchName="debug">
        <listeners>
          <add name="file" type="System.Diagnostics.TextWriterTraceListener" initializeData="C:\Logs\Quantumart.QP8.Scheduler.Service\notification.log" traceOutputOptions="DateTime,ProcessId,ThreadId"/>
          <add name="console" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add type="System.Diagnostics.ConsoleTraceListener" name="console" />
    </sharedListeners>
    <switches>
      <add name="debug" value="Information" />
    </switches>
  </system.diagnostics>
  <appSettings>
    <add key="ServiceRepeatInterval" value="00:00:05"/>
    <add key="ServiceRepeatOnErrorInterval" value="00:01:00"/>
    <add key="ExceptCustomerCodes" value=""/>
    <add key="CurrentUserId" value="1"/>
    <add key="UserLanguageId" value="2"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
