@using Quantumart.QP8.BLL
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
@model Quantumart.QP8.WebMvc.ViewModels.User.UserViewModelBase

<div id="@Model.ContentFilterElementId">
    @using (Html.BeginFieldGroup(UserStrings.ContentDefaultFiltersTitle))
    {
        @Html.SelectFieldFor(m => m.ContentDefaultFilter.SiteId, Html.List(Model.AllSitesListItems),
        new Dictionary<string, object>
        {
            {"class", "qp-deffilter-site " + HtmlHelpersExtensions.DropDownListClassName}
        }
    )

        @Html.SingleItemPickerFieldFor(m => m.ContentDefaultFilter.ContentId, Model.SelectedDefaultFilterContentListItem,
        new EntityDataListArgs
        {
            EntityTypeCode = EntityTypeCode.Content,
            ParentEntityId = Model.ContentDefaultFilter.SiteId ?? 0,
            SelectActionCode = ActionCode.SelectContent,
            ReadActionCode = ActionCode.ContentProperties,
            ListId = -1 * DateTime.Now.Millisecond,
            MaxListHeight = 200,
            MaxListWidth = 350,
            ShowIds = true
        },
        new ControlOptions
        {
            HtmlAttributes = new Dictionary<string, object> { { "class", "qp-deffilter-content" } }
        }
        )

        @Html.MultipleItemPickerFieldFor(m => m.ContentDefaultFilter.ArticleIDs,
        Model.SelectedDefaultFilterArticleListItems,
        new EntityDataListArgs
        {
            EntityTypeCode = EntityTypeCode.Article,
            ParentEntityId = Model.ContentDefaultFilter.ContentId ?? 0,
            EntityId = null,
            ListId = -2 * DateTime.Now.Millisecond,
            SelectActionCode = ActionCode.MultipleSelectArticle,
            ReadActionCode = ActionCode.EditArticle,
            MaxListHeight = 200,
            MaxListWidth = 350,
            Filter = Model.DefaultRelationFilter,
            ShowIds = true
        },
        new Dictionary<string, object> { { "class", "qp-deffilter-articles" } }
        )
    }
</div>
