@model Quantumart.QP8.WebMvc.ViewModels.ActionPermissions.ActionPermissionsTreeViewModel

@using (Html.BeginDocumentPadding())
{
  <div class="actionPermission" id="@Model.MainComponentId">
    <partial name="UserAndGroupSearchBlock" model="@Model" />
    <div class="treeContainer">
      @{ string treeUniqueId = Html.UniqueId("Tree"); }
      <div class="t-widget t-treeview t-reset" id="@treeUniqueId"></div>
      <script type="text/javascript">
        $('#@treeUniqueId').tTreeView();
      </script>
    </div>
  </div>
}

@Html.PrepareAndRunInitScript(Model)
