<#@ template debug="false" hostspecific="true" language="C#"#>
<#@output extension=".log"#>

<#@ assembly name="System.Core"#>
<#@ assembly name="System.Data" #>
<#@ assembly name="System.Data.Entity" #>
<#@ assembly name="System.Data.Entity.Design"#>
<#@ assembly name="System.Data.Linq"#>
<#@ assembly name="EnvDTE"#>
<#@ assembly name="System.Xml"#>
<#@ assembly name="System.Xml.Linq"#>
<#@ assembly name="$(TargetDir)Quantumart.QP8.CodeGeneration.dll"#>

<#@ import namespace="System"#>
<#@ import namespace="System.CodeDom"#>
<#@ import namespace="System.CodeDom.Compiler"#>
<#@ import namespace="System.Collections.Generic"#>
<#@ import namespace="System.Data.Linq"#>
<#@ import namespace="System.Data.Linq.Mapping"#>
<#@ import namespace="System.IO"#>
<#@ import namespace="System.ComponentModel"#>
<#@ import namespace="System.Linq"#>
<#@ import namespace="System.Xml"#>
<#@ import namespace="System.Linq"#>
<#@ import namespace="System.Reflection"#>
<#@ import namespace="System.Text"#>
<#@ import namespace="Microsoft.VisualStudio.TextTemplating"#>
<#@ import namespace="System.Xml.Linq"#>
<#@ import namespace="System.IO" #>
<#@ import namespace="Quantumart.QP8.CodeGeneration.Services" #>

<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\Manager.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\Model.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\MappingConfiguratorOnModelCreating.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\MappingConfigurator.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\StaticSchemaProvider.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\ModelExtensions.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\ConnectionScope.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\Classes.ttinclude" #>
<#@ include file="..\packages\QP8.EntityFramework6.1.1.2\include\ClassExtensions.ttinclude" #>

<#
	using (var context = new GenerationContext(this, Host, GenerationEnvironment, "QPDataContextGenerator.tt.settings.xml"))
	{
		var className = context.Model.Schema.ClassName;
		var settings = context.Settings;
		
		context.AddTemplateFile(className + ".cs", AddModel, settings.GenerateModel);
		context.AddTemplateFile(className + "Extensions.cs", AddModelExtensions, settings.GenerateModel);
		context.AddTemplateFile(className + "ConnectionScope.cs", AddConnectionScope, settings.GenerateModel);

		context.AddTemplateFile("MappingConfigurator.cs", AddMappingConfigurator, settings.GenerateMappings);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\MappingResolver.cs", settings.GenerateMappings);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\FileSchemaProvider.cs", settings.GenerateMappings);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\DatabaseSchemaProvider.cs", settings.GenerateMappings);
		context.AddTemplateFile("StaticSchemaProvider.cs", AddStaticSchemaProvider, settings.GenerateMappings);
		
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\IQPArticle.cs", settings.GenerateInterface);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\IQPLibraryService.cs", settings.GenerateInterface);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\IQPFormService.cs", settings.GenerateInterface);

		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\IQPSchema.cs", settings.GenerateMappingInterface);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\IMappingConfigurator.cs", settings.GenerateMappingInterface);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\ISchemaProvider.cs", settings.GenerateMappingInterface);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\MappingConfiguratorBase.cs", settings.GenerateMappingInterface);

		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\StatusType.cs", settings.GenerateClasses);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\User.cs", settings.GenerateClasses);
		context.AddCodeFile(@"..\packages\QP8.EntityFramework6.1.1.2\include\UserGroup.cs", settings.GenerateClasses);
		context.AddTemplate(AddClasses, settings.GenerateClasses);
		context.AddTemplateFile(className + ".Contents.Extensions.cs", AddClassExtensions, settings.GenerateClasses && settings.GenerateExtensions);
	}
#>