@using Quantumart.QP8.WebMvc.ViewModels.Audit		   
@using Quantumart.QP8.BLL;

@model SucessfullSessionsAreaViewModel
@using (Html.BeginDocumentPadding())
{
    <div id="@Model.MainComponentId" class="alMainContaner">
    @(Html.Telerik().Grid<SessionsLog>().Name(Model.GridElementId)
                .DataKeys(k => k.Add(s => s.SessionId))
                .Columns(c =>
                    {
                        c.Bound(s => s.Login);
                        c.Bound(s => s.StartTime);
                        c.Bound(s => s.EndTime);
                        c.Bound(s => s.Duration).Sortable(false);
                        c.Bound(s => s.AutoLogged).ClientTemplate(@"<input type=""checkbox"" disabled=""disabled"" <#= AutoLoggedChecked #> />");
                        c.Bound(s => s.IP);
                        c.Bound(s => s.Browser);
                        c.Bound(s => s.ServerName);
                        c.Bound(s => s.IsQP7).ClientTemplate(@"<input type=""checkbox"" disabled=""disabled"" <#= IsQP7Checked #> />");
                    }
                )
                .DataBinding(db => db.Ajax().Select("_SucessfullSessions", "ActionLog"))
                .EnableCustomBinding(true)
                .Sortable()
                .Pageable(p => p.PageSize(20).Style(GridPagerStyles.NextPreviousAndNumeric))
                .Selectable(s => s.Enabled(false))
        )
    </div>
}

@Html.InitScript(Model)

