<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMapper" version="1.1.2" allowedVersions="[1.1.2,2.0.0)" targetFramework="net47" />
  <package id="EnterpriseLibrary.Common" version="6.0.1304.0" targetFramework="net47" />
  <package id="EnterpriseLibrary.Validation" version="6.0.1304.0" targetFramework="net47" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net471" />
  <package id="QA.Configuration" version="1.0.2" targetFramework="net47" />
  <package id="QA.Validation.Xaml" version="1.2.1" targetFramework="net471" />
  <package id="QA.Validation.Xaml.Extensions" version="1.2.0" targetFramework="net471" />
  <package id="Quantumart" version="3.2.2" targetFramework="net471" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net471" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net471" />
  <package id="Unity" version="5.8.11" targetFramework="net471" />
</packages>