<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
    <DirectoryRef Id="INSTALLFOLDER">
      <Component Id="cmpQpConfigurationXmlFile" Guid="{F69A99B2-8B14-4587-9F50-FBA8B0E79D97}"
                 Permanent="yes">
        <File Id="filQpConfigurationXmlFile"
              KeyPath="yes"
              Source="$(var.SolutionDir)package\pack\qp8release\app\Q-Publishing Configuration.xml" />
        <Condition><![CDATA[((QP_7_INSTALLED = "0" AND QP_8_INSTALLED = "0") OR QP_8_INSTALLED = "1") AND NOT Installed]]></Condition>
      </Component>
    </DirectoryRef>
    <ComponentGroup Id="QpConfigurationXmlFileComponents">
      <ComponentRef Id="cmpQpConfigurationXmlFile" />
    </ComponentGroup>
	</Fragment>
</Wix>