<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <DirectoryRef Id="WINLOGONINSTALLFOLDER">
            <Component Id="cmp74CFD9F8950C82591902BB0BC26BFDE4" Guid="*">
                <File Id="fil2E844C6C0B38D9C6A68DF2C6239C171F" KeyPath="yes" Source="$(var.WinlogonDirPath)\fix_dbo.sql" />
            </Component>
            <Component Id="cmpF17D54902BA411E185867006021FE43A" Guid="*">
                <File Id="filA34EE81C5482920C4A7E4EF3B4E6D55B" KeyPath="yes" Source="$(var.WinlogonDirPath)\Global.asax" />
            </Component>
            
            
            
            
            
            <Directory Id="dirF0C6E5907A3D849B8CC51D83EC2D9B61" Name="bin">
                <Component Id="cmp32B416CFB6659F082944ED03876D1908" Guid="*">
                    <File Id="fil385C8B7F124F2B37910266E23D09C87C" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\AutoMapper.dll" />
                </Component>
                <Component Id="cmp5EB288EEB9F6F8F95705023D4A805D96" Guid="*">
                    <File Id="fil27713909184B2D4AE4542428919CEE48" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\AutoMapper.pdb" />
                </Component>
                <Component Id="cmp8D5520A260E52EDD1021EEAA10CEC646" Guid="*">
                    <File Id="fil9AFE443282DC062A8DEA34ACF82BB9E2" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Castle.Core.dll" />
                </Component>
                
                <Component Id="cmp29A83E828152DFBB45B9050BA4B2B981" Guid="*">
                    <File Id="filEB8A4BB7E8B7BED7FAB42362649507D1" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Castle.DynamicProxy2.dll" />
                </Component>
                
                <Component Id="cmp43AB8E3108173CBFD13CE444035151E2" Guid="*">
                    <File Id="fil26D8087CAF1332BD4F5A449A7145FCE3" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\EFExtensions.dll" />
                </Component>
                <Component Id="cmp967638CD7E1B238F9E5E5DC1C3708DAE" Guid="*">
                    <File Id="fil7B89DE77F37A89EB7EE28B7307B50D28" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\EFExtensions.pdb" />
                </Component>
                
                <Component Id="cmp8269C35B67E8E9C9A35531B78ECAB3AE" Guid="*">
                    <File Id="fil3F4C23C363C94D475C708565C227110E" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Irony.dll" />
                </Component>
                <Component Id="cmp7AB3E0F4B5143405A37322197DCC96CE" Guid="*">
                    <File Id="filA65A3A7D2AB7C63CCB4A95C2AB86013F" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Irony.pdb" />
                </Component>
                <Component Id="cmpFE178A5E65F0F24359142E36AB24A363" Guid="*">
                    <File Id="fil36A502F13866529FB22489751E4ECE69" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.Common.dll" />
                </Component>
                <Component Id="cmpB2AB003B1F718CBB760036B6859CFDB7" Guid="*">
                    <File Id="fil3EB2CC07ED7314F1A2E5303902CD7B0A" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.Common.pdb" />
                </Component>
                
                <Component Id="cmpD45FCD29C7F2D1CE707A57ACCC73E7A6" Guid="*">
                    <File Id="fil5A97D52A7C2E5962336C7F4E274A2009" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.dll" />
                </Component>
                <Component Id="cmpE89B4318D8DCF8FF2C1CBBCB736B393C" Guid="*">
                    <File Id="filDE5B0E5522089F5295F18A1336190604" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.pdb" />
                </Component>
                
                <Component Id="cmpC9AC9A98C40EF75987261EB626186B90" Guid="*">
                    <File Id="fil3E57F1E87C8550F81A719439CA7CFA41" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.Validation.dll" />
                </Component>
                <Component Id="cmpE0CB1CF4FF269BBAD17D94EE633E0125" Guid="*">
                    <File Id="fil8C10FA7D6B1F3962A0B11F2EC948085E" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.EnterpriseLibrary.Validation.pdb" />
                </Component>
                
                <Component Id="cmp434A6290E8F0CE269CA766373051F631" Guid="*">
                    <File Id="fil3B33B2EA0779BD75784860D05223E1E3" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.ServiceLocation.dll" />
                </Component>
                <Component Id="cmpB3FDD18E870C6A28D2E9A430164391DF" Guid="*">
                    <File Id="fil3AE7CA6BD0024C3135B96201AD691EA2" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.Configuration.dll" />
                </Component>
                <Component Id="cmp8A0F57BF3ED49DDA8D5C261AF0CFBB0F" Guid="*">
                    <File Id="fil6BA0808168E8FED8ACCB745C29108521" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.Configuration.pdb" />
                </Component>
                <Component Id="cmp9D536F70FF64527CF95E76235DD4D263" Guid="*">
                    <File Id="fil2F1039C5E9D010419BEE3DAB8D4563A1" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.dll" />
                </Component>
                <Component Id="cmpCC3F777E09B0FEB2014684464B0AEF42" Guid="*">
                    <File Id="fil246E5051836E035931DD6F7B3023F3BF" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.Interception.dll" />
                </Component>
                <Component Id="cmp47049138BAD312C9E8BF1E16B87F9E7C" Guid="*">
                    <File Id="fil0E7FD2BF4E4A418A0F4225CCB2C5214B" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.Interception.pdb" />
                </Component>
                <Component Id="cmp33774F30D58A554EBD2183854E7317C4" Guid="*">
                    <File Id="fil7FF4E43C83B583D83498489973B45820" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Microsoft.Practices.Unity.pdb" />
                </Component>
                <Component Id="cmpDB47AF5CB902BD5CE7E8C54B14FE5ADD" Guid="*">
                    <File Id="fil3FD188D7E8A2073B64B6A9854CF0F2A4" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Moq.dll" />
                </Component>
                <Component Id="cmp3535843D18455DADF2BBEEC983C61E65" Guid="*">
                    <File Id="fil2BD46283AB3DBCACA809ED5B8F270E71" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Moq.pdb" />
                </Component>
                
                <Component Id="cmp6B5E11C82D5A72179CF2BB969AD5CFF0" Guid="*">
                    <File Id="filBB059BCCB8EB586C2F4BC96903B4914D" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA.Configuration.dll" />
                </Component>
                
                <Component Id="cmp3697ADAD99C00EA5F55D7655247422A4" Guid="*">
                    <File Id="fil87D63497E81F8FC78D4DAF61F4BE0F01" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA.Validation.Xaml.dll" />
                </Component>
                <Component Id="cmp899BFD579425A367A3FBCA75E24650CF" Guid="*">
                    <File Id="fil40E973B1988345E7B03490CBBC376CF0" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA.Validation.Xaml.Extensions.dll" />
                </Component>
                
                
                <Component Id="cmpDE6EF4016DEA6BC8FA1948452DA171BE" Guid="*">
                    <File Id="filE9490513510F3AEA7D6DF98ACDF8B43F" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA_Assembling.dll" />
                </Component>
                <Component Id="cmpE8228DF0F1243E6379B57EE759C84B94" Guid="*">
                    <File Id="fil22189B27932DCA5538C7CDE413758EAB" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA_Assembling.pdb" />
                </Component>
                <Component Id="cmpD366AD01E51CA961A04F18121F87B828" Guid="*">
                    <File Id="filF56200B3BA1FB5FEA13EF238FF526A37" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\QA_Merger.dll" />
                </Component>
                <Component Id="cmp4CECB1F9E819D5BED0441419EBA53D2B" Guid="*">
                    <File Id="filC43BD1BA34CE25689A36106C70E7B19B" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.dll" />
                </Component>
                <Component Id="cmp359BC9467B5661DF09A6A190E1BD54D1" Guid="*">
                    <File Id="filE5FD240DA2522934C77E5773516F15FB" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.pdb" />
                </Component>
                <Component Id="cmpA2F550AB4D983BC2B5921D847DD12DD8" Guid="*">
                    <File Id="fil4E866B8AC9182F38D5BBD6B7DA9EEC5D" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.BLL.dll" />
                </Component>
                <Component Id="cmpFE698CEC1906CA2C58685D3F4C8F4FFE" Guid="*">
                    <File Id="fil8CC58C5B14D44C6AA3A1C80B8E3C151F" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.BLL.pdb" />
                </Component>
                <Component Id="cmp2D8FBDF13E00CA0A4AD76C7B4CFE0CF8" Guid="*">
                    <File Id="fil3A4DE961891691CA0FAA310B6BEAF925" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Configuration.dll" />
                </Component>
                <Component Id="cmp8CBAFD47570D01E24E1C6B19CB835FEC" Guid="*">
                    <File Id="fil09073624E931C4A563A323E1426F4615" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Configuration.pdb" />
                </Component>
                <Component Id="cmp0EF9ABEA31B68EDA43A5646A4C6858A9" Guid="*">
                    <File Id="filD46865FBF034A541EA972F2E2A09BC8E" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Constants.dll" />
                </Component>
                <Component Id="cmp0634293F00839E961A635B26C8BD3AAC" Guid="*">
                    <File Id="fil02CAA9C97D83D1BE9C957F90B369F6AD" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Constants.pdb" />
                </Component>
                <Component Id="cmp4A68453F5BFC9D668031DC37E2EB2C9C" Guid="*">
                    <File Id="filD9E079328EA2583E78C57F3A7A784F21" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.DAL.dll" />
                </Component>
                <Component Id="cmp3C3739EF155A7360D5245F872CD46740" Guid="*">
                    <File Id="fil4FEA7F87599EF96311E17C7A2B480801" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.DAL.pdb" />
                </Component>
                <Component Id="cmp27A0D2B4AC9AC38379F132521E26A05B" Guid="*">
                    <File Id="fil51627AD635844C70AC4E9066E95CAAE9" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Resources.dll" />
                </Component>
                <Component Id="cmp3914611C9496BAD26853612C23CC7AAB" Guid="*">
                    <File Id="filC4A8C37EB412E06FE43B46D47A9E2565" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Resources.pdb" />
                </Component>
                <Component Id="cmpEC37EDE4918701454F13DE2C8DC90A06" Guid="*">
                    <File Id="fil4FEE8B5997388B3C808C31B7C71587F2" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Security.dll" />
                </Component>
                <Component Id="cmpB33D828E00F824E476DD201817C04DD6" Guid="*">
                    <File Id="filD3ADEF71E6E86AAD8962F11E5A07DF5E" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Security.pdb" />
                </Component>
                <Component Id="cmpA0402660DF3F70B972AF145504B689AB" Guid="*">
                    <File Id="fil9E2AB7B6BD057CD8932190AC6EE54081" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Utils.dll" />
                </Component>
                <Component Id="cmp3FBDA8AEED8081294BE667E9EE975A74" Guid="*">
                    <File Id="fil0F45934A9404B03E680081AC85988D3A" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Utils.pdb" />
                </Component>
                <Component Id="cmp3055E529B3B29AE656B4CF25F67E82D1" Guid="*">
                    <File Id="fil6F0D78E23CBCEC4734A06F6DD154554B" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Validators.dll" />
                </Component>
                <Component Id="cmp2E6335F3DA7EFFC0DD3ADCCB966B9856" Guid="*">
                    <File Id="fil438D6325622E7FA0CA63B6BABF8C172D" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.Validators.pdb" />
                </Component>
                <Component Id="cmp780D216D58ED06C20FD0C1834C225FD0" Guid="*">
                    <File Id="filD9E96A5FF5198DBCAA80F82864E20ECF" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.WebMvc.dll" />
                </Component>
                <Component Id="cmp859079E904D61EAC1F5888B2B43C7FE6" Guid="*">
                    <File Id="fil6B426DC876EDAD2AAEA997A2ED52070A" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.WebMvc.pdb" />
                </Component>
                <Component Id="cmpFB0F7A6AC0CC35EAA93CEC701ACE891B" Guid="*">
                    <File Id="fil0D1AAD584AE5EE11FAC06EAE93785349" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.WebMvc.WinLogOn.dll" />
                </Component>
                <Component Id="cmp362A6B728F63B9B8EB81586D6F19977B" Guid="*">
                    <File Id="fil07FF1C2A650C7B60ED537DB15FBB1FED" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Quantumart.QP8.WebMvc.WinLogOn.pdb" />
                </Component>
                <Component Id="cmpD7EE8D7D5BC2155E1BFBA4379D8A2B5E" Guid="*">
                    <File Id="fil08F8E43BD4659E34351D778D1DB26F9E" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\RazorGenerator.Mvc.dll" />
                </Component>
                <Component Id="cmp706A8F4A25A94A26A8471643FFAE2699" Guid="*">
                    <File Id="fil274FF62AC53351524267AAF36528D736" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Telerik.Web.Mvc.dll" />
                </Component>
                <Component Id="cmp2C2F7841871EF2279FEE6A45F21A2249" Guid="*">
                    <File Id="fil74A5E0923A3AAF32F15A4748B21EB7BC" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\Telerik.Web.Mvc.pdb" />
                </Component>
                
                <Component Id="cmp0EB5BC7A05E721BD5A4E11AC9E5799EC" Guid="*">
                    <File Id="fil9A677416EBEBAF95C18E580C68B7EE0A" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\WebActivatorEx.dll" />
                </Component>
                <Directory Id="dirC315579E21662DDFE8BF398BF7FAD900" Name="ru-ru">
                    <Component Id="cmp6E7E4943D91447A273E739EDE8EDF260" Guid="*">
                        <File Id="filEE9ED040090C403EE2A7A59D5EE1783A" KeyPath="yes" Source="$(var.WinlogonDirPath)\bin\ru-ru\Quantumart.QP8.Resources.resources.dll" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir3BFA6884263E17D50E087D7256E49897" Name="obj">
                <Directory Id="dir72D7084D6085D4475055CAD1D1D334DC" Name="Release">
                    <Component Id="cmp4E0CFE03C03AD91F8C884B435852E8F3" Guid="*">
                        <File Id="filEAC198D486DD1E68BDEF4B96E75F6C9A" KeyPath="yes" Source="$(var.WinlogonDirPath)\obj\Release\Quantumart.QP8.WebMvc.WinLogOn.dll" />
                    </Component>
                    <Component Id="cmp0840136727EF55CFA31B53018F32943A" Guid="*">
                        <File Id="filD1CDAA90A84F3D8BADC8B44463C75A13" KeyPath="yes" Source="$(var.WinlogonDirPath)\obj\Release\Quantumart.QP8.WebMvc.WinLogOn.pdb" />
                    </Component>
                    <Component Id="cmpAF19BD134813F7E3B9B4061F27A33228" Guid="*">
                        <File Id="filEA483FEDE7E5A6B26AF5110CE0424F53" KeyPath="yes" Source="$(var.WinlogonDirPath)\obj\Release\WinLogOnMvc.csproj.FileListAbsolute.txt" />
                    </Component>
                    <Component Id="cmp3BB98D7243FC339906CA6C74490A1DC6" Guid="*">
                        <File Id="fil29E42399CEE165E17A8DD47EF1629F3D" KeyPath="yes" Source="$(var.WinlogonDirPath)\obj\Release\WinLogOnMvc.csprojResolveAssemblyReference.cache" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="dir28EBFE9D94C18B599E14A2FB05EABC8D" Name="Views">
                
                <Directory Id="dir370AC873EAEE8C523AA3C2ED67BB19B5" Name="Shared">
                    <Component Id="cmp431F7E881D36AFF2516009B3C753AC23" Guid="*">
                        <File Id="filDE1A911ACC1B130C149D92BF31F59670" KeyPath="yes" Source="$(var.WinlogonDirPath)\Views\Shared\_Layout.cshtml" />
                    </Component>
                </Directory>
                <Directory Id="dirD00937D78216C4AA6BB9DA8949ADED1F" Name="WinLogOn">
                    <Component Id="cmp969056C3C1B7B692E445444EEF643D18" Guid="*">
                        <File Id="fil6662A7FAD62CA01A8D8F0C818DD16449" KeyPath="yes" Source="$(var.WinlogonDirPath)\Views\WinLogOn\Index.cshtml" />
                    </Component>
                </Directory>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="WinlogonProductComponents">
            <ComponentRef Id="cmp74CFD9F8950C82591902BB0BC26BFDE4" />
            <ComponentRef Id="cmpF17D54902BA411E185867006021FE43A" />
            
            
            
            
            
            <ComponentRef Id="cmp32B416CFB6659F082944ED03876D1908" />
            <ComponentRef Id="cmp5EB288EEB9F6F8F95705023D4A805D96" />
            <ComponentRef Id="cmp8D5520A260E52EDD1021EEAA10CEC646" />
            
            <ComponentRef Id="cmp29A83E828152DFBB45B9050BA4B2B981" />
            
            <ComponentRef Id="cmp43AB8E3108173CBFD13CE444035151E2" />
            <ComponentRef Id="cmp967638CD7E1B238F9E5E5DC1C3708DAE" />
            
            <ComponentRef Id="cmp8269C35B67E8E9C9A35531B78ECAB3AE" />
            <ComponentRef Id="cmp7AB3E0F4B5143405A37322197DCC96CE" />
            <ComponentRef Id="cmpFE178A5E65F0F24359142E36AB24A363" />
            <ComponentRef Id="cmpB2AB003B1F718CBB760036B6859CFDB7" />
            
            <ComponentRef Id="cmpD45FCD29C7F2D1CE707A57ACCC73E7A6" />
            <ComponentRef Id="cmpE89B4318D8DCF8FF2C1CBBCB736B393C" />
            
            <ComponentRef Id="cmpC9AC9A98C40EF75987261EB626186B90" />
            <ComponentRef Id="cmpE0CB1CF4FF269BBAD17D94EE633E0125" />
            
            <ComponentRef Id="cmp434A6290E8F0CE269CA766373051F631" />
            <ComponentRef Id="cmpB3FDD18E870C6A28D2E9A430164391DF" />
            <ComponentRef Id="cmp8A0F57BF3ED49DDA8D5C261AF0CFBB0F" />
            <ComponentRef Id="cmp9D536F70FF64527CF95E76235DD4D263" />
            <ComponentRef Id="cmpCC3F777E09B0FEB2014684464B0AEF42" />
            <ComponentRef Id="cmp47049138BAD312C9E8BF1E16B87F9E7C" />
            <ComponentRef Id="cmp33774F30D58A554EBD2183854E7317C4" />
            <ComponentRef Id="cmpDB47AF5CB902BD5CE7E8C54B14FE5ADD" />
            <ComponentRef Id="cmp3535843D18455DADF2BBEEC983C61E65" />
            
            <ComponentRef Id="cmp6B5E11C82D5A72179CF2BB969AD5CFF0" />
            
            <ComponentRef Id="cmp3697ADAD99C00EA5F55D7655247422A4" />
            <ComponentRef Id="cmp899BFD579425A367A3FBCA75E24650CF" />
            
            
            <ComponentRef Id="cmpDE6EF4016DEA6BC8FA1948452DA171BE" />
            <ComponentRef Id="cmpE8228DF0F1243E6379B57EE759C84B94" />
            <ComponentRef Id="cmpD366AD01E51CA961A04F18121F87B828" />
            <ComponentRef Id="cmp4CECB1F9E819D5BED0441419EBA53D2B" />
            <ComponentRef Id="cmp359BC9467B5661DF09A6A190E1BD54D1" />
            <ComponentRef Id="cmpA2F550AB4D983BC2B5921D847DD12DD8" />
            <ComponentRef Id="cmpFE698CEC1906CA2C58685D3F4C8F4FFE" />
            <ComponentRef Id="cmp2D8FBDF13E00CA0A4AD76C7B4CFE0CF8" />
            <ComponentRef Id="cmp8CBAFD47570D01E24E1C6B19CB835FEC" />
            <ComponentRef Id="cmp0EF9ABEA31B68EDA43A5646A4C6858A9" />
            <ComponentRef Id="cmp0634293F00839E961A635B26C8BD3AAC" />
            <ComponentRef Id="cmp4A68453F5BFC9D668031DC37E2EB2C9C" />
            <ComponentRef Id="cmp3C3739EF155A7360D5245F872CD46740" />
            <ComponentRef Id="cmp27A0D2B4AC9AC38379F132521E26A05B" />
            <ComponentRef Id="cmp3914611C9496BAD26853612C23CC7AAB" />
            <ComponentRef Id="cmpEC37EDE4918701454F13DE2C8DC90A06" />
            <ComponentRef Id="cmpB33D828E00F824E476DD201817C04DD6" />
            <ComponentRef Id="cmpA0402660DF3F70B972AF145504B689AB" />
            <ComponentRef Id="cmp3FBDA8AEED8081294BE667E9EE975A74" />
            <ComponentRef Id="cmp3055E529B3B29AE656B4CF25F67E82D1" />
            <ComponentRef Id="cmp2E6335F3DA7EFFC0DD3ADCCB966B9856" />
            <ComponentRef Id="cmp780D216D58ED06C20FD0C1834C225FD0" />
            <ComponentRef Id="cmp859079E904D61EAC1F5888B2B43C7FE6" />
            <ComponentRef Id="cmpFB0F7A6AC0CC35EAA93CEC701ACE891B" />
            <ComponentRef Id="cmp362A6B728F63B9B8EB81586D6F19977B" />
            <ComponentRef Id="cmpD7EE8D7D5BC2155E1BFBA4379D8A2B5E" />
            <ComponentRef Id="cmp706A8F4A25A94A26A8471643FFAE2699" />
            <ComponentRef Id="cmp2C2F7841871EF2279FEE6A45F21A2249" />
            
            <ComponentRef Id="cmp0EB5BC7A05E721BD5A4E11AC9E5799EC" />
            <ComponentRef Id="cmp6E7E4943D91447A273E739EDE8EDF260" />
            <ComponentRef Id="cmp4E0CFE03C03AD91F8C884B435852E8F3" />
            <ComponentRef Id="cmp0840136727EF55CFA31B53018F32943A" />
            <ComponentRef Id="cmpAF19BD134813F7E3B9B4061F27A33228" />
            <ComponentRef Id="cmp3BB98D7243FC339906CA6C74490A1DC6" />
            
            <ComponentRef Id="cmp431F7E881D36AFF2516009B3C753AC23" />
            <ComponentRef Id="cmp969056C3C1B7B692E445444EEF643D18" />
        </ComponentGroup>
    </Fragment>
</Wix>