<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Fragment>
    <Property Id="ALLUSERS"
              Value="1"/>
    <Property Id="ROOTDRIVE"><![CDATA[C:\]]></Property>

    <Property Id='QP_7_INSTALLED' Value='0'></Property>
    <Property Id='QP_8_INSTALLED' Value='0'></Property>
  </Fragment>
</Wix>