@using Quantumart.QP8.BLL
@using Quantumart.QP8.Constants
@using Quantumart.QP8.Resources
<div class="row">
	@Html.Relation((string)ViewBag.RelationElementID, (IEnumerable<QPSelectListItem>)ViewBag.StatusTypes, new ControlOptions(), RelationType.OneToMany, false,
		new EntityDataListArgs
		{
			EntityTypeCode = EntityTypeCode.User,
			ParentEntityId = null,
			EntityId = 0,
			ListId = 0,
			AddNewActionCode = ActionCode.None,
			ReadActionCode = ActionCode.None,
			SelectActionCode = ActionCode.None,
			MaxListHeight = 100,
			MaxListWidth = 350
		}
	)
</div>

<div class="row" style="display: none;">
	<span class="checkbox">
		@Html.QpCheckBox((string)ViewBag.IsNullCheckBoxElementID, null, false, new Dictionary<string, object>())
		@Html.QpLabel((string)ViewBag.IsNullCheckBoxElementID, ArticleStrings.SearchBlock_IsNullCheckBoxLabelText, false)
	</span>
</div>
