exec qp_drop_existing 'qp_merge_links_multiple', 'IsProcedure'
GO

CREATE PROCEDURE [dbo].[qp_merge_links_multiple] 
@ids [Ids] READONLY
AS
BEGIN
	
	declare @idsWithLinks Table (id numeric, link_id numeric)

	insert into @idsWithLinks
	select i.id, ca.link_id from @ids i 
	inner join CONTENT_ITEM_SPLITTED cis on i.id = cis.CONTENT_ITEM_ID
	inner join content_item ci with(nolock) on ci.CONTENT_ITEM_ID = i.ID and SPLITTED = 1
	inner join content c on ci.CONTENT_ID = c.CONTENT_ID
	inner join CONTENT_ATTRIBUTE ca on ca.CONTENT_ID = c.CONTENT_ID and link_id is not null
	
	declare @newIds table (id numeric, link_id numeric, linked_item_id numeric, splitted bit, linked_attribute_id numeric null, linked_has_data bit, linked_splitted bit, linked_has_async bit null)
	declare @oldIds table (id numeric, link_id numeric, linked_item_id numeric, splitted bit)
	declare @crossIds table (id numeric, link_id numeric, linked_item_id numeric, splitted bit)
	
	declare @linkIds table (link_id numeric, primary key (link_id))

	insert into @newIds (id, link_id, linked_item_id) 
	select ila.item_id, ila.link_id, ila.linked_item_id from item_link_async ila inner join @idsWithLinks i on ila.item_id = i.id and ila.link_id = i.link_id

	insert into @oldIds (id, link_id, linked_item_id) 
	select il.item_id, il.link_id, il.linked_item_id from item_link il inner join @idsWithLinks i on il.item_id = i.id and il.link_id = i.link_id

	insert into @crossIds 
	select t1.id, t1.link_id, t1.linked_item_id, t1.splitted from @oldIds t1 inner join @newIds t2 
	on t1.id = t2.id and t1.link_id = t2.link_id and t1.linked_item_id = t2.linked_item_id

	delete @oldIds from @oldIds t1 inner join @crossIds t2 on t1.id = t2.id and t1.link_id = t2.link_id and t1.linked_item_id = t2.linked_item_id
	delete @newIds from @newIds t1 inner join @crossIds t2 on t1.id = t2.id and t1.link_id = t2.link_id and t1.linked_item_id = t2.linked_item_id
	
	delete item_to_item from item_to_item il inner join @oldIds i on il.l_item_id = i.id and il.link_id = i.link_id and il.r_item_id = i.linked_item_id
	
	insert into item_to_item
	select link_id, id, linked_item_id from @newIds;
	
	with newItems (id, link_id, linked_item_id, attribute_id, has_data) as
	(
		select 
		n.id, n.link_id, n.linked_item_id, ca.attribute_id, 
		case when cd.content_item_id is null then 0 else 1 end as has_data
		from @newIds n
			inner join content_item ci on ci.CONTENT_ITEM_ID = n.linked_item_id
			inner join content c on ci.content_id = c.content_id
			inner join content_attribute ca on ca.content_id = c.content_id and ca.link_id = n.link_id
		left join content_data cd on cd.ATTRIBUTE_ID = ca.ATTRIBUTE_ID and cd.CONTENT_ITEM_ID = ci.content_item_id
	)
	update @newIds 
	set linked_attribute_id = ext.attribute_id, linked_has_data = ext.has_data
	from @newIds n inner join newItems ext on n.id = ext.id and n.link_id = ext.link_id and n.linked_item_id = ext.linked_item_id
	
	update content_data set data = n.link_id 
	from content_data cd 
	inner join @newIds n on cd.ATTRIBUTE_ID = n.linked_attribute_id and cd.CONTENT_ITEM_ID = n.linked_item_id
	where n.linked_has_data = 1

	insert into content_data(CONTENT_ITEM_ID, ATTRIBUTE_ID, DATA)
	select distinct n.linked_item_id, n.linked_attribute_id, n.link_id
	from @newIds n 
	where n.linked_has_data = 0 and n.linked_attribute_id is not null
	
	delete item_link_async from item_link_async ila inner join @ids i on ila.item_id = i.id


END
GO
