<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings file="testsdata.config">

    <!-- Common settings -->
    <add key="IsSmokeTests" value="true" />

    <!-- Selenium Grid settings -->
    <add key="GridHubHost" value="msctest01" />
    <add key="GridHubPort" value="4444" />

    <!-- Selenium timeouts settings in milliseconds -->
    <add key="PageLoadTimeout" value="25000" />
    <add key="ImplicitlyTimeout" value="2000" />
    <add key="JavaScriptTimeout" value="10000" />

    <!-- Allure settings -->
    <add key="AllureResultsPath" value="${BuildPath}AllureResults" />

  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
