<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AllureCSharpCommons" version="0.2.4" targetFramework="net45" />
  <package id="log4net" version="2.0.5" targetFramework="net45" />
  <package id="Ninject" version="3.2.2.0" targetFramework="net45" />
  <package id="NLog" version="4.4.4" targetFramework="net461" />
  <package id="NUnit" version="3.6.1" targetFramework="net461" />
  <package id="Nunit3AllureAdapter" version="1.0.4" targetFramework="net45" />
  <package id="NUnit3TestAdapter" version="3.7.0" targetFramework="net461" />
  <package id="Selenium.Support" version="3.0.0" targetFramework="net45" />
  <package id="Selenium.WebDriver" version="3.0.0" targetFramework="net45" />
  <package id="SeleniumExtension" version="1.0.13" targetFramework="net461" />
</packages>