@model Quantumart.QP8.WebMvc.ViewModels.Abstract.EntityViewModel

@using Quantumart.QP8.WebMvc.Extensions.Helpers
@using Quantumart.QP8.Resources
@using Quantumart.QP8.WebMvc.ViewModels

@if (!Model.IsNew)
{
	using (Html.BeginFieldGroup(EntityObjectStrings.DirectLinkTitle))
	{
		<div class="directLink">
			@{
				var url =  Url.Action(string.Empty, string.Empty, Model.DirectLinkOptions, Request.Url.Scheme);
			}

			<dl class="row">
				<dt class="label">
					<label for='@Html.UniqueId("directLink")'>@EntityObjectStrings.DirectLink:</label>
				</dt>
				<dd class="field">
					<input id='@Html.UniqueId("directLink")' type="text" class="textbox directLink" readonly="readonly" onclick="this.select()" value="@url">
				</dd>
			</dl>
		</div>
	}
}
