@using QP8.Infrastructure.Extensions
@using Quantumart.QP8.Resources
@model Exception

<h3>Error: <i>@(Model.Data[ExceptionHelpers.ClientMessageKey] ?? GlobalStrings._500Error)</i></h3>
<p>
  <b>Source</b>: @Model.Source
</p>
<p>
  <b>Method</b>: @Model.TargetSite
</p>
<p>
  <b>Stack Trace</b>: @Model.StackTrace
</p>
